@charset "utf-8";

/*웹폰트*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, 
body {
    height: 100%;
}

body {
    /*font-family: "Nanum Square","NanumSquare", sans-serif;*/
    font-family: "nanumgothic", sans-serif;    
}

/**compound1**/
#comWrap {
}

/*title*/
#titWrap {
    background: url('../img/bg_tit_com1.png') center top no-repeat;
}
#bodyCompoundPolitic #titWrap {
    background: url('../img/bg_tit_com1_pol.png') center top no-repeat;
}
.box_tit {
    width: 1300px;
    margin: 0 auto;
}
.title {
    width: 910px;    
    height: 572px;
    padding-top: 120px;
    color: #000;
}
.title h1 {
    width: 750px;
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: bold;
    color: #fff;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.sub_title {
    width: 900px;
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: bold;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.detail_title {
    width: 850px;
    font-size: 30px;
    font-weight: 300;
    color: #000;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*contents*/
.con_wrap_compound {
}
.contents1 {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 70px;
    background: url('../img/bg_compound1.png') center top no-repeat;
}
#bodyCompoundPolitic .contents1 {
    background: url('../img/bg_compound1_pol.png') center top no-repeat;
}
.box_contents1:after {
    content: "";
    clear: both;
    display: block;
}
.box_contents1>ul {
    width: 346px;
    /*height: 1520px;*/
    overflow-y: hidden;
    margin-top: 60px;
    color: #000;
}
.box_contents1>ul li {
    margin-bottom: 30px;
}
.box_contents1>ul.ul_left {
    float: left;
    margin-left: 0;
}
.box_contents1>ul.ul_right {
    float: right;
    margin-right: 0;
}
.box_contents1>ul.ul_left li {
    padding: 15px;
    background: #f79eb5;
    border-radius: 10px;
    cursor: pointer;
}
.box_contents1>ul.ul_right li {
    padding: 15px;
    background: #e0d1b8;
    border-radius: 10px;
}
.des_com1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;        
}
.des_com2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;       
}
.des_com3 {
    margin-bottom: 10px;
    font-size: 20px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.5em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
}
.img_com1 {
    width: 316px;
    height: 126px;
    overflow: hidden;
}
.img_com1 img {
    width: 100%;
}
.contents2 {
    width: 1600px;
    margin: 0 auto;
    padding-bottom: 100px;
    background: #dcdddd;
    color: #000;
}
.tit_comtents2 {
    width: 1300px;
    margin: 0 auto;
    padding: 60px 0 50px 0;
}
.tit_com1 {
    width: 500px;
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;      
}
.tit_com2 {
    width: 800px;
    font-size: 28px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;     
}
ul.ul_contents2 {
    width: 1300px;
    margin: 0 auto;
}
ul.ul_contents2:after {
    content: "";
    clear: both;
    display: block;
}
ul.ul_contents2 li {
    float: left;
    width: 306px;
    height: 300px;
    margin-right: 19px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 15px;
    background: #89cbd0;
}
ul.ul_contents2 li.bg_white {
    background: #fff;
}
.wrap_con_li {
    height: 270px;
    overflow: hidden;
}
.des_com4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;        
}
.des_com5 {
    font-size: 20px;
    margin-bottom: 10px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.5em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;     
}

/**이미지 가운데 정렬**/
.photo_wrapper {
    width: 278px;
}
.img_centered {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
}
.img_wrap {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}
.img_wrap img {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

/**compound2**/
#titWrapCom2 {
    width: 1600px;
    margin: 0 auto;
    background: url('../img/bg_tit_com2.png') no-repeat;    
}
#titWrapCom2 .title {
    width: 1300px;
    height: 606px;
    margin: 0 auto;
}
.contents_com2 {
    width: 1600px;
    margin: 0 auto;
}
.box_com2 {
    width: 1300px;
    margin: 0 auto;
}
.box_tit_com2 {
    padding: 15px 0 80px 0;
}
.tit_com3 {
    width: 800px;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: bold;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;   
}
.tit_com4 {
    width: 700px;
    font-size: 26px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;       
}

.wrap_day_com2>div {
    min-height: 390px;
    margin-bottom: 70px;
}
.color_pink {
    background: url('../img/bg_day1.png') no-repeat;
}
.color_green {
    background: url('../img/bg_day2.png') no-repeat;
}
.wrap_day_com2>div:after {
    content: "";
    clear: both;
    display: block;
}
.wrap_day_com2>div>p,
.wrap_day_com2>div>ul {
    float: left;
}
.num_day {
    width: 120px;
    margin-right: 100px;
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.li_day:after {
    content: "";
    clear: both;
    display: block;
}
.li_day li {
    float: left;
    width: 235px;
    margin-right: 25px;
    cursor: pointer;
}
.des_time1 {
    display: inline-block;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    color: #fff;
}
.color_pink .des_time1 {
    background: #ed97ad;    
}
.color_green .des_time1 {
    background: #70c3c8;    
}
.des_time_box {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #a3a5a6;
}
.des_time2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;    
}
.color_pink .des_time2 {
    color: #ca8295;   
}
.color_green .des_time2 {
    color: #22989d;     
}
.des_time3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.color_pink .des_time3 {
    color: #ed97ad;   
}
.color_green .des_time3 {
    color: #70c3c8;     
}

.contents2_com2 {
    width: 1600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
    background: #f1d059;
}
.box2_com2 {
    width: 1300px;
    margin: 0 auto;
}
.box_con_dott {
    width: 1322px;
    height: 885px;
    padding: 50px 48px;
    background: url('../img/box_dott.png') no-repeat;
}

ul.ul_tem_conts li {
    float: left;
    margin: 0 10px;
    margin-bottom: 20px;
}
.con_list {
    width: 286px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
    color: #000;
    cursor: pointer;
}
.con_list_img {
    width: 286px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
    color: #000;
    cursor: pointer;
}
.con_list_nth1 .con_list {
    background: url(../img/bg_con1.png) no-repeat;
}
.con_list_nth2 .con_list {
    background: url(../img/bg_con2.png) no-repeat;
}
.con_list_nth3 .con_list {
    background: url(../img/bg_con3.png) no-repeat;
}
.con_list_nth1 .con_list_img {
    background: url(../img/bg_con1.png) no-repeat;
}
.con_list_nth2 .con_list_img {
    background: url(../img/bg_con2.png) no-repeat;
}
.con_list_nth3 .con_list_img {
    background: url(../img/bg_con3.png) no-repeat;
}
.con_list h2 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 800;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;      
}
.con_sub_title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cont_datail {
    margin-bottom: 10px;
    font-size: 20px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cont_datail {
    margin-bottom: 10px;
    font-size: 20px;    
}
.cont_datail2 {
    margin-top: 10px;
    font-size: 20px;    
}

.contents2_com2 .photo_wrapper {
    width: 246px;
}
.contents2_com2 .img_centered {
    padding-top: 90%;
}

.contents3_com2 {
    width: 1600px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 100px;
    background: #e5e5e5;
}
.box3_com2 {
    width: 1300px;
    margin: 0 auto;
}

.wrap_con_list {

}
.wrap_con_list ul:after {
    content: "";
    clear: both;
    display: block;
}
.wrap_con_list>ul li {
    position: relative;
    float: left;
    width: 599px;
    height: 247px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 20px 160px 40px 20px;
    background: url(../img/bg_box_non_back.png) no-repeat;
    cursor: pointer;
}

.wrap_con_list ul li.small_contents {
    background: url(../img/bg_box_back.png) no-repeat;
}
.wrap_con_list ul li p.con_style2_tit,
.wrap_con_list ul li p.con_style1_txt1,
.wrap_con_list ul li p.con_style1_txt2 {
    width: 420px;
}

.con_style2_tit {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.con_style1_txt1 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.con_style1_txt2 {
    font-size: 17px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;       
}

/**slideup.slidedown popup**/
.wrap_popup_slide {
    position: relative;
    display: none;
    width: 1230px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px 25px;
    background: #fff;
    border: 9px solid #217982;
    border-radius: 12px;
}
.bg_arrow {
    position: absolute;
    top: -27px;
    left: 270px;
}
.wrap_popup_slide:after {
    content: "";
    clear: both;
    display: block;
}
.wrap_popup_slide>div {
    float: left;
}
.photo_sec {
    display: table;
    width: 248px;
    height: 248px;
    background: #efefef;
    border-radius: 8px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}
.photo_sec>div {
    display: table-cell;
    vertical-align: middle;
}
.des_sec {
    width: 880px;
}
.tit_des_sec {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
}
.txt1_des_sec {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #004ea2;
}
.txt2_des_sec {
    font-size: 20px;
    line-height: 1.4;
}

.popup_non_img .des_sec {
    width: 1150px;
}

.popup_only_img .des_sec {
    width: 1000px;
    margin: 0 auto;
    float: none;
}
.popup_only_img .des_sec .bxslider2 li img {
    display: block;
    margin: 0 auto;
}

/**compound2 politic*/
#bodyCompoundPolitic2 #titWrapCom2 {
    background: url('../img/bg_tit_com2_pol.png') no-repeat;
}
#bodyCompoundPolitic2 #titWrapCom2 .title {
    height: 540px;
}

#bodyCompoundPolitic2 .contents_com2 {
    padding: 80px 0;
    background: #faf7eb;
}
.li_year {
    margin-top: 40px;
}
.li_year li {
    position: relative;
    margin-bottom: 80px;
}
.num_year {
    width: 360px;
    height: 75px;
    margin: 0 auto;
    padding: 22px 0 0 135px;
    font-size: 28px;
    font-weight: bold;
}
.view_right .num_year {
    background: url('../img/bg_year_right.png') no-repeat left center;
}
.view_left .num_year {
    background: url('../img/bg_year_left.png') no-repeat left center;
}
.wrap_des_year {
    position: absolute;
    top: -85px;
    height: 255px;
    width: 520px;
}
.view_right .wrap_des_year {
    right: 0;
}
.view_left .wrap_des_year {
    left: 0;
}
.des_year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    padding: 20px;
    background: #fff;
    border: 2px solid #26afe8;
    border-radius: 15px;    
    box-shadow: 15px 15px 30px rgba(0,0,0,0.2);
    cursor: pointer;
}
.des_year:after {
    content: "";
    clear: both;
    display: block;
}
.des_year>div {
    float: left;
}
.txt_sec_year {
    width: 254px;
    margin-right: 20px;
}
.non_img .txt_sec_year {
    width: 100%;
}
.img_sec_year {
    width: 198px;
}
.img_sec_year img {
    border-radius: 10px;
}

#bodyCompoundPolitic2 .contents2_com2 {
    background: #fff;
}
.li_month:after {
    content: "";
    clear: both;
    display: block;
}
.li_month li {
    float: left;
    width: 415px;
    height: 540px;
    margin-right: 10px;
    margin-bottom: 35px;
    cursor: pointer;
}
.li_month li .txt_month {
    width: 248px;
    height: 118px;
    padding-top: 20px;
    border-radius: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.li_month li .month_january {
    background: #2eb5a9;
}
.li_month li .month_february {
    background: #78afca;
}
.li_month li .month_march {
    background: #77b85b;
}
.li_month li .month_april {
    background: #e6bb2f;
}
.li_month li .month_may {
    background: #899a3c;
}
.li_month li .month_june {
    background: #f59cb3;
}
.li_month li .month_july {
    background: #8c8c8c;
}
.li_month li .month_august {
    background: #b4a777;
}
.li_month li .month_semtember {
    background: #a96a1a;
}

.li_month li .month_october {
    background: #c790bb;
}
.li_month li .month_november {
    background: #e8825a;
}
.li_month li .month_december {
    background: #a09699;
}

.li_month li>div {
    position: relative;
    top: -55px;
    height: 440px;
    margin-left: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 0 20px;
    box-shadow: 0px 0px 50px #a3a5a6;
}
.des_month1 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #397168;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.des_month2 {
    margin-bottom: 10px;
    font-size: 21px;
    color: #55c4b9;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}

.des_month3 {
    margin-bottom: 20px;
    font-size: 19px;
    color: #000;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;    
    -webkit-box-orient: vertical;    
}

#bodyCompoundPolitic2 .contents3_com2 {
    background: #f1d059;
}

.contents3_com2 .photo_wrapper {
    width: 246px;
}
.contents3_com2 .img_centered {
    padding-top: 90%;
}

/**popup**/
.wrap_popup {
    height: auto;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
	z-index: 600;    
}
.con_popup {
    position: relative;
	top: 40px;
	width: 950px;
    max-height: 100%;
    /*overflow-x: hidden;*/
	overflow-y: auto;    
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    /*height: 700px;*/
    padding: 30px;
}

.tit_sec {
    width: 100%;
}
.tit_sec:after {
    content: "";
    clear: both;
    display: block;
}
.tit_sec>div {
    float: left;
}
.img_sec {
    display: table;
    width: 230px;
    height: 230px;
    border: 2px solid #010101;
    border-radius: 5px;
}
.box_img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.txt_sec {
    height: 230px;
    width: 600px;
    padding-top: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box_txt {
    padding-left: 25px;
}
.pop_title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}
.pop_detail {
    font-size: 20px;
}
.pop_des {
    line-height: 1.3;
    font-size: 20px;
}

ul.percent {
    position: absolute;
    top: 30px;
    right: 30px;
}
ul.percent:after {
    content: "";
    clear: both;
    display: block;
}
ul.percent li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #c0bfbf;
    text-align: center;
    color: #747474;
    font-family: "nanumgothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/**2018. 10. 30 이미지 슬라이드 부분 수정**/
.box_img {
    font-size: 0;
}
.box_img ul li {
    text-align: center;
    line-height: 230px;
}
.box_img img {
    width: auto;
    height: auto;
    max-width: 230px;
    max-height: 230px;
}
.box_img .bx-wrapper {
    margin-bottom: 0;
}
.box_img .bx-wrapper .bx-pager {
    display: none;
}
.box_img .bx-wrapper img {
    max-width: 230px;
    margin: 0 auto;
}

/**2018.11.8 수정 및 politic.html 추가, 팝업에 좌우버튼 추가**/
#bodyPolitic1 {
    background-image: url('../img/bg_bott_pol1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #326481;
}
#bodyPolitic1 .title {
    height: 640px;
    padding-top: 110px;
    background: url('../img/bg_title_pol1.png') no-repeat;
    color: #fff;
}
#bodyPolitic1 #contents ul {
    padding-left: 50px;
    padding-bottom: 40px;
    background: url('../img/bg_politic_dott.png') repeat-y;
}
#bodyPolitic1 #contents {
    padding-bottom: 40px;
    background: url('../img/bg_ul_politic_bott.png') no-repeat center bottom;
}
.con_popup {
    position: relative;
	top: 40px;
	width: 1080px;
    /*max-height: 100%;*/
    max-height: 90%;
	overflow-y: auto;    
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    width: 950px;
    /*height: 700px;*/
    margin: 0 auto;
    padding: 30px;
}
.pop_prev_next>div {
    position: absolute;
    top: 320px;
}
.pop_prev_next>div.pop_prev {
    left: 20px;
}
.pop_prev_next>div.pop_next {
    right: 20px;
}

/**18.11.13 복합형 최종본 추가/수정**/
.com_last_conts1 {
    /*width: 1600px;
    margin: 0 auto;*/
    padding: 80px 0;
}
.box_last_conts {
    width: 1300px;
    margin: 0 auto;
}
ul.ul_tem_conts:after {
    content: "";
    clear: both;
    display: block;
}
/**이미지 가운데 정렬**/
.com_last_conts1 .photo_wrapper {
    width: 246px;
}
.com_last_conts1 .img_centered {
    position: relative;
    padding-top: 90%;
    overflow: hidden;
}

.com_last_conts2 {
    /*width: 1600px;
    margin: 0 auto;*/
    padding: 80px 0;
    background: #f1d059;
}

.com_last_conts3 {
    padding: 80px 0;
    background: #e5e5e5;
}

/**이미지 가운데 정렬**/
.com_last_conts3 .photo_wrapper {
    width: 232px;
}
.com_last_conts3 .img_centered {
    position: relative;
    padding-top: 85%;
    overflow: hidden;
}

.com_last_conts4 {
    /*width: 1600px;
    margin: 0 auto;*/
    padding: 80px 0;
    background: #F8CBAD;
}

.com_last_conts5 {
    /*width: 1600px;
    margin: 0 auto;*/
    padding: 80px 0;
    background: #faf7eb;
}

#bodyCompoundCulture2 #titWrap {
    height: 540px;
    background: url('../img/bg_tit_com2.png') center top no-repeat;
}
#bodyComLastPolitic2 #titWrap {
    height: 540px;
    background: url('../img/bg_tit_com2_pol.png') center top no-repeat;
}

/**2018.11.14 수정**/
.box_contents1 {
    width: 1300px;
    margin: 0 auto;
}

/**2018.11.14 normal2 탬플릿 슬라이드팝업 수정**/
.wrap_con_list .photo_sec ul li:first-child {
    margin-left: 0;
}
.wrap_con_list .photo_sec .bx-viewport {
    width: 248px;
    height: 248px !important;    
}

.wrap_con_list .photo_sec img {
    width: auto;
    height: auto;
    max-width: 248px;
    max-height: 248px;
}
.wrap_con_list .photo_sec .bx-wrapper {
    max-width: 248px;
    max-height: 248px;    
    margin-bottom: 0;
}
.wrap_con_list .photo_sec .bx-wrapper .bx-pager {
    display: none;
}
.wrap_con_list .photo_sec .bx-wrapper img {
    max-width: 230px;
    margin: 0 auto;
}
.btn_close_normal2 {
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: bold;
    font-size: 24px;
}

/**2018.11.13 time_day image 크기 수정**/
/**이미지 가운데 정렬**/
.photo_wrapper {
    width: 232px;
}
.img_centered {
    position: relative;
    padding-top: 85%;
    overflow: hidden;
}
.img_wrap {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}
.img_wrap img {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

/**2018.11.14 time_month image 크기 수정**/
.li_month .photo_wrapper {
    width: 347px;
}
.li_month .img_centered {
    padding-top: 70%;
}

/*time_year image 크기 수정*/
.img_sec_year {
    max-height: 205px;
    overflow: hidden;
}
.img_sec_year img {
    width: 100%;
}

/*time_day image 위치 원래위치로 수정*/
.photo_day_box {
    width: 232px;
    height: 197px;
    overflow: hidden;
}
.photo_day_box img {
    width: 100%;
}

/**2018.11.15 추가**/
.des_year1 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #0d6d78;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.des_year2 {
    margin-bottom: 10px;
    font-size: 21px;
    color: #00a0e9;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.des_year3 {
    font-size: 21px;
    color: #000;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}

.des_time2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;    
}
.color_pink .des_time2 {
    color: #ca8295;   
}
.color_green .des_time2 {
    color: #22989d;     
}
.des_time3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.color_pink .des_time3 {
    color: #ed97ad;   
}
.color_green .des_time3 {
    color: #70c3c8;     
}
.des_time4 {
    font-size: 20px;
    color: #000;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;    
    -webkit-box-orient: vertical;    
}

/**18.11.16 복합형 백그라운드 1600px로 고정**/
.con_wrap_compound {
    width: 1600px;
    margin: 0 auto;
}






























