@charset "utf-8";

/*웹폰트*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    /*font-family: "Nanum Square","NanumSquare", sans-serif;  */
    font-family: "nanumgothic", sans-serif;
}

#bodyCulture1 {
    background-image: url('../img/bg_bott_cul1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #076d67;
}

/**template1**/
#temWrap {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 140px;    
}
#conWrap {
    width: 1320px;
    margin: 0 auto;
}
/*title*/
.title {
    height: 640px;
    padding-top: 110px;
    background: url('../img/bg_title_cul1.png') no-repeat;
    color: #fff;
}
.title h1 {
    width: 800px;
    margin-bottom: 15px;
    font-size: 73px;
    font-weight: 800;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.sub_title {
    width: 800px;
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 600;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.detail_title {
    width: 800px;
    font-size: 30px;
    font-weight: 300;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*contents*/
#contents {
    padding-bottom: 40px;
    background: url('../img/bg_ul_bott.png') no-repeat center bottom;
}
#contents ul {
    padding-left: 50px;
    padding-bottom: 40px;
    background: url('../img/bg_conts_dott.png') repeat-y;
}
#contents ul:after {
    content: "";
    clear: both;
    display: block;
}

#contents ul li {
    float: left;
    margin: 0 10px;
    margin-bottom: 20px;
}
.con_list {
    width: 286px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
    color: #000;
    cursor: pointer;
}
.con_list_img {
    width: 286px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
    color: #000;
    cursor: pointer;
}
.con_list_nth1 .con_list {
    background: url(../img/bg_con1.png) no-repeat;
}
.con_list_nth2 .con_list {
    background: url(../img/bg_con2.png) no-repeat;
}
.con_list_nth3 .con_list {
    background: url(../img/bg_con3.png) no-repeat;
}
.con_list_nth1 .con_list_img {
    background: url(../img/bg_con1.png) no-repeat;
}
.con_list_nth2 .con_list_img {
    background: url(../img/bg_con2.png) no-repeat;
}
.con_list_nth3 .con_list_img {
    background: url(../img/bg_con3.png) no-repeat;
}
.con_list h2 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 800;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;      
}
.con_sub_title {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cont_datail {
    margin-bottom: 10px;
    font-size: 20px;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cont_datail {
    margin-bottom: 10px;
    font-size: 20px;    
}
.cont_datail2 {
    margin-top: 10px;
    font-size: 20px;    
}

/**이미지 가운데 정렬**/
.photo_wrapper {
    width: 246px;
}
.img_centered {
    position: relative;
    padding-top: 64%;
    overflow: hidden;
}
.img_wrap {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}
.img_wrap img {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

/**popup**/
.wrap_popup {
    height: auto;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
	z-index: 600;    
}
.con_popup {
    position: relative;
	top: 40px;
	width: 950px;
    max-height: 100%;
	overflow-y: auto;    
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    padding: 30px;
}

.tit_sec {
    width: 100%;
}
.tit_sec:after {
    content: "";
    clear: both;
    display: block;
}
.tit_sec>div {
    float: left;
}
.img_sec {
    display: table;
    width: 230px;
    height: 230px;
    border: 2px solid #010101;
    border-radius: 5px;
}
.box_img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.txt_sec {
    height: 230px;
    width: 600px;
    padding-top: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box_txt {
    padding-left: 25px;
}
.pop_title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}
.pop_detail {
    font-size: 20px;
}
.pop_des {
    line-height: 1.3;
    font-size: 20px;
}

ul.percent {
    position: absolute;
    top: 30px;
    right: 30px;
}
ul.percent:after {
    content: "";
    clear: both;
    display: block;
}
ul.percent li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 25px;    
    box-shadow: 2px 2px 2px 2px #c0bfbf;
    text-align: center;
    color: #747474;
    font-family: "nanumgothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/**2018. 10. 30 이미지 슬라이드 부분 수정**/
.box_img {
    font-size: 0;
}
.box_img ul li {
    text-align: center;
    line-height: 230px;
}
.box_img img {
    width: auto;
    height: auto;
    max-width: 230px;
    max-height: 230px;
}
.box_img .bx-wrapper {
    margin-bottom: 0;
}
.box_img .bx-wrapper .bx-pager {
    display: none;
}
.box_img .bx-wrapper img {
    max-width: 230px;
    margin: 0 auto;
}

/**2018.11.8 수정 및 politic.html 추가, 팝업에 좌우버튼 추가**/
.img_centered {
    position: relative;
    padding-top: 90%;
    overflow: hidden;
}
#bodyPolitic1 {
    background-image: url('../img/bg_bott_pol1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #326481;
}
#bodyPolitic1 .title {
    height: 640px;
    padding-top: 110px;
    background: url('../img/bg_title_pol1.png') no-repeat;
    color: #fff;
}
#bodyPolitic1 #contents ul {
    padding-left: 50px;
    padding-bottom: 40px;
    background: url('../img/bg_politic_dott.png') repeat-y;
}
#bodyPolitic1 #contents {
    padding-bottom: 40px;
    background: url('../img/bg_ul_politic_bott.png') no-repeat center bottom;
}
.con_popup {
    position: relative;
	top: 40px;
	width: 1080px;
    /*max-height: 100%;*/
    max-height: 90%;
	overflow-y: auto;    
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    width: 950px;
    /*height: 750px;*/
    margin: 0 auto;
    padding: 30px;
}
.pop_prev_next>div {
    position: absolute;
    top: 320px;
}
.pop_prev_next>div.pop_prev {
    left: 20px;
}
.pop_prev_next>div.pop_next {
    right: 20px;
}

/**2018.11.11 culture1 백그라운드 변경**/
.wrapper_template {
    background: url(../img/bg_title_cul1.png) center top no-repeat;
}
.wrapper_template .title {
    background: none;
}

/*imager popup*/
.wrap_popup_img {
    height: auto;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
	z-index: 600;        
}
.wrap_popup_img .con_popup {
    width: 850px;
}
.wrap_popup_img .inner_pop {
    width: 850px;
}
.wrap_slide {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    border: 2px solid #010101;;
    border-radius: 5px;
}

.wrap_slide img {
    width: 100%;
}

.wrap_popup_img .bx-wrapper .bx-pager {
    display: none;
}
.wrap_popup_img .bx-wrapper {
    margin-bottom: 0;
}
.wrap_popup_img .bx-wrapper .bx-prev {
    width: 40px;
    height: 40px;
    background: url('../img/btn_prev.png') no-repeat;
}
.wrap_popup_img .bx-wrapper .bx-next {
    width: 40px;
    height: 40px;
    background: url('../img/btn_next.png') no-repeat;
}

.wrap_popup_img .bx-wrapper .bx-next:hover {
    background: url('../img/btn_next.png') no-repeat;
}

/**template2**/
#temWrap2 {
    width: 100%;
    background: #faf2d9;
}
#conWrap2 {
    width: 1350px;
    margin: 0 auto;
}
.tit_sec2 {
    width: 1350px;
    height: 890px;
    padding-top: 160px;
    background: url(../img/bg_title2.png) no-repeat center bottom;
}
.title2 {
    width: 890px;
    margin: 0 auto;
    text-align: center;
}
.title2 h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 73px;
    font-weight: 800;   
    color: #0a8a8c;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.tit2_sub {
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 600;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;        
}
.detail_tit2 {
    font-size: 30px;
    font-weight: 500;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.container {
    padding: 70px 0 100px 0;    
    background: #78c2bf;
}
.wrap_con_list {

}
.wrap_con_list ul:after {
    content: "";
    clear: both;
    display: block;
}
.wrap_con_list>ul li {
    position: relative;
    float: left;
    width: 599px;
    height: 210px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 20px 160px 40px 20px;
    background: url(../img/bg_box_non_back.png) no-repeat;
    cursor: pointer;
}
.wrap_con_list ul li:first-child {
    margin-left: 60px;
}
.wrap_con_list ul li.small_contents {
    background: url(../img/bg_box_back.png) no-repeat;
}
.wrap_con_list ul li p.con_style2_tit,
.wrap_con_list ul li p.con_style1_txt1,
.wrap_con_list ul li p.con_style1_txt2 {
    width: 420px;
}

.con_num {
    position: absolute;
    top: 10px;
    right: 55px;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -18px;
}
.con_num .num1 {
    color: #c8e6e5;
}
.con_num .num2 {
    color: #83a59f;
}

.con_style2_tit {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}
.con_style1_txt1 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.con_style1_txt2 {
    font-size: 17px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;       
}

/**slideup.slidedown popup**/
.wrap_popup_slide {
    position: relative;
    display: none;
    width: 1230px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 15px 25px;
    background: #fff;
    border: 9px solid #217982;
    border-radius: 12px;
}
.bg_arrow {
    position: absolute;
    top: -27px;
    left: 270px;
}
.wrap_popup_slide:after {
    content: "";
    clear: both;
    display: block;
}
.wrap_popup_slide>div {
    float: left;
}
.photo_sec {
    display: table;
    width: 248px;
    height: 248px;
    background: #efefef;
    border-radius: 8px;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}
.photo_sec>div {
    display: table-cell;
    vertical-align: middle;
}
.des_sec {
    width: 880px;
}
.tit_des_sec {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
}
.txt1_des_sec {
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
    color: #004ea2;
}
.txt2_des_sec {
    font-size: 20px;
    line-height: 1.4;
}

.popup_non_img .des_sec {
    width: 1150px;
}

.popup_only_img .des_sec {
    width: 1000px;
    margin: 0 auto;
    float: none;
}
.popup_only_img .des_sec .bxslider2 li img {
    display: block;
    margin: 0 auto;
}

/**slider 관련**/
.popup_only_img .bx-wrapper .bx-pager {
    display: none;
}
.popup_only_img .bx-wrapper {
    margin-bottom: 0;
}
.popup_only_img .bx-wrapper {
    box-shadow: none;   
}
.popup_only_img .bx-wrapper .bx-prev {
    width: 40px;
    height: 40px;
    background: url('../img/btn_prev.png') no-repeat;
}
.popup_only_img .bx-wrapper .bx-next {
    width: 40px;
    height: 40px;
    background: url('../img/btn_next.png') no-repeat;
}
.popup_only_img .bx-wrapper .bx-next:hover {
    background: url('../img/btn_next.png') no-repeat;
}

/**이미지 popup**/
.tem2_popup .con_popup {
    top: 150px;
}
.tem2_popup .inner_pop {
    height: auto;
}
.tem2_popup .wrap_slide {
    border: none;
}

/**politic**/
.conwrap2_politic .tit_sec2 {
    width: 1350px;
    height: 890px;
    padding-top: 160px;
    background: url(../img/bg_politic_tit.png) no-repeat center bottom;
}
.conwrap2_politic .container {
    width: 1348px;
    margin: 0 auto;
    background: #9acc7b;
}
.conwrap2_politic .wrap_con_list ul li.small_contents {
    background: url(../img/bg_back_politic.png) no-repeat;
}

/**2018.11.14 normal2 탬플릿 슬라이드팝업 수정**/
.wrap_con_list .photo_sec ul li:first-child {
    margin-left: 0;
}
.wrap_con_list .photo_sec .bx-viewport {
    width: 248px;
    height: 248px !important;    
}

.wrap_con_list .photo_sec img {
    width: auto;
    height: auto;
    max-width: 248px;
    max-height: 248px;
}
.wrap_con_list .photo_sec .bx-wrapper {
    max-width: 248px;
    max-height: 248px;    
    margin-bottom: 0;
}
.wrap_con_list .photo_sec .bx-wrapper .bx-pager {
    display: none;
}
.wrap_con_list .photo_sec .bx-wrapper img {
    max-width: 230px;
    margin: 0 auto;
}
.btn_close_normal2 {
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

/*2018.11.26 normal2 percent button 추가*/
.normal2_per {
    position: absolute;
    top: 20px;
    right: 55px;
}
.normal2_per span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    padding-top: 10px;
    border-radius: 25px;    
    box-shadow: 2px 2px 2px 2px #c0bfbf;
    text-align: center;
    color: #747474;
    font-family: "nanumgothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.wrap_popup_slide {
    padding: 30px 25px 15px 25px;
}

.tit_des_sec {
    width: 600px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}












