@charset "utf-8";

/*웹폰트*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, 
body {
    height: 100%;
}

body {
    /*font-family: "Nanum Square","NanumSquare", sans-serif;*/
    font-family: "nanumgothic", sans-serif;    
}

/*time_month*/
#temWrap {
    height: 3048px;
    background: url('../img/bg_time_month_cul.png') center top no-repeat;
}
#bodyTimeMonthPolitic #temWrap {
    background: url('../img/bg_time_month_pol.png') center top no-repeat;
}
#conWrapTime {
    position: relative;
    width: 1350px;
    margin: 0 auto;
    padding-left: 50px;
}

/*title*/
.title {
    width: 940px;    
    height: 620px;
    padding-top: 206px;
    color: #000;
}
.title h1 {
    margin-bottom: 15px;
    font-size: 73px;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.sub_title {
    width: 900px;
    margin-bottom: 15px;
    font-size: 34px;
    color: #9e9496;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.detail_title {
    width: 900px;
    font-size: 30px;
    font-weight: 300;
    color: #000;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.etc_title {
    position: absolute;
    top: 560px;
    right: 30px;
    width: 470px;
    text-align: right;
    font-size: 65px;
    font-weight: 500;
    opacity: 0.5;
}

/*contents*/
#contents {
    margin-top: 20px;
}



.li_month:after {
    content: "";
    clear: both;
    display: block;
}
.li_month li {
    float: left;
    width: 415px;
    height: 540px;
    margin-right: 10px;
    margin-bottom: 35px;
    cursor: pointer;
}
.li_month li .txt_month {
    width: 248px;
    height: 118px;
    padding-top: 20px;
    border-radius: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.li_month li .month_january {
    background: #2eb5a9;
}
.li_month li .month_february {
    background: #78afca;
}
.li_month li .month_march {
    background: #77b85b;
}
.li_month li .month_april {
    background: #e6bb2f;
}
.li_month li .month_may {
    background: #899a3c;
}
.li_month li .month_june {
    background: #f59cb3;
}
.li_month li .month_july {
    background: #8c8c8c;
}
.li_month li .month_august {
    background: #b4a777;
}
.li_month li .month_semtember {
    background: #a96a1a;
}

.li_month li .month_october {
    background: #c790bb;
}
.li_month li .month_november {
    background: #e8825a;
}
.li_month li .month_december {
    background: #a09699;
}

.li_month li>div {
    position: relative;
    top: -55px;
    height: 440px;
    margin-left: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 0 20px;
    box-shadow: 0px 0px 50px #a3a5a6;
}
.des_month1 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #397168;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}




/**firerfox 말줄임표**/
@-moz-document url-prefix() {
  .des_month1 {
    overflow: hidden;
    position: relative;
  }
  .des_month1:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month1:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }
}

/**ie 말줄임표**/
@media screen and (min-width:0\0) {
  .des_month1 {
    overflow: hidden;
    position: relative;
  }
  .des_month1:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month1:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }    
}

.des_month2 {
    margin-bottom: 10px;
    font-size: 21px;
    color: #55c4b9;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}

/**firerfox 말줄임표**/
@-moz-document url-prefix() {
  .des_month2 {
    overflow: hidden;
    position: relative;
  }
  .des_month2:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month2:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }
}

/**ie 말줄임표**/
@media screen and (min-width:0\0) {
  .des_month2 {
    overflow: hidden;
    position: relative;
  }
  .des_month2:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month2:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }    
}

.des_month3 {
    margin-bottom: 20px;
    font-size: 19px;
    color: #000;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;    
    -webkit-box-orient: vertical;    
}

/**firerfox 말줄임표**/
@-moz-document url-prefix() {
  .des_month3 {
    overflow: hidden;
    position: relative;
  }
  .des_month3:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month3:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }
}

/**ie 말줄임표**/
@media screen and (min-width:0\0) {
  .des_month3 {
    overflow: hidden;
    position: relative;
  }
  .des_month3:before {
    background: #FFFFFF;
    bottom: 0;
    position: absolute;
    right: 0;
    float: right;
    content: '\2026';
    margin-left: -3rem;
    width: 3rem;
  }
  .des_month3:after {
    content: '';
    background: #FFFFFF;
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 1;
  }    
}

.photo_month img {
    border-radius: 10px;
}

/**popup**/
.wrap_popup {
    height: auto;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
	z-index: 600;    
}
.con_popup {
    position: relative;
	top: 40px;
	width: 950px;
    max-height: 100%;
    /*overflow-x: hidden;*/
	overflow-y: auto;    
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    padding: 30px;
}

.tit_sec {
    width: 100%;
}
.tit_sec:after {
    content: "";
    clear: both;
    display: block;
}
.tit_sec>div {
    float: left;
}
.img_sec {
    display: table;
    width: 230px;
    height: 230px;
    border: 2px solid #010101;
    border-radius: 5px;
}
.box_img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.txt_sec {
    /*display: table;*/
    height: 230px;
    width: 600px;
    padding-top: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}
.box_txt {
    padding-left: 25px;
}
.pop_title {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}
.pop_detail {
    font-size: 20px;
}
.pop_des {
    line-height: 1.3;
    font-size: 20px;
}

ul.percent {
    position: absolute;
    top: 30px;
    right: 30px;
}
ul.percent:after {
    content: "";
    clear: both;
    display: block;
}
ul.percent li {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #c0bfbf;
    text-align: center;
    color: #747474;
    font-family: "nanumgothic", sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/**2018. 10. 30 이미지 슬라이드 부분 수정**/
.box_img {
    font-size: 0;
}
.box_img ul li {
    text-align: center;
    line-height: 230px;
}
.box_img img {
    width: auto;
    height: auto;
    max-width: 230px;
    max-height: 230px;
}
.box_img .bx-wrapper {
    margin-bottom: 0;
}
.box_img .bx-wrapper .bx-pager {
    display: none;
}
.box_img .bx-wrapper img {
    max-width: 230px;
    margin: 0 auto;
}

/**2018.11.8 수정 및 politic.html 추가, 팝업에 좌우버튼 추가**/
.img_centered {
    position: relative;
    padding-top: 90%;
    overflow: hidden;
}
#bodyPolitic1 {
    background-image: url('../img/bg_bott_pol1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #326481;
}
#bodyPolitic1 .title {
    height: 640px;
    padding-top: 110px;
    background: url('../img/bg_title_pol1.png') no-repeat;
    color: #fff;
}
#bodyPolitic1 #contents ul {
    padding-left: 50px;
    padding-bottom: 40px;
    background: url('../img/bg_politic_dott.png') repeat-y;
}
#bodyPolitic1 #contents {
    padding-bottom: 40px;
    background: url('../img/bg_ul_politic_bott.png') no-repeat center bottom;
}
.con_popup {
    position: relative;
	top: 40px;
	width: 1080px;
    /*max-height: 100%;*/
    max-height: 90%;
	overflow-y: auto;
    /*overflow-y: hidden;*/
	margin: 30px auto;
	background: #fff;
    border-radius: 25px
}
.inner_pop {
    position: relative;
    width: 950px;
    /*height: 700px;*/
    margin: 0 auto;
    padding: 30px;
}
.pop_prev_next>div {
    position: absolute;
    top: 320px;
}
.pop_prev_next>div.pop_prev {
    left: 20px;
}
.pop_prev_next>div.pop_next {
    right: 20px;
}

/**time_year**/
#yearWrap {
    /*width: 1600px;
    margin: 0 auto;*/
    background: url('../img/bg_time_year_cul.png') center top no-repeat;    
}
#bodyTimeYearPolitic #yearWrap {
    background: url('../img/bg_time_year_pol.png') center top no-repeat;
}
#conWrapYear {
    width: 1300px;
    margin: 0 auto;
}
#conWrapYear .title {
    width: 1100px;
    height: 854px;
    padding-top: 280px;
    text-align: left;
}
#conWrapYear .title h1 {
    width: 900px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    color: #fff;
}
#conWrapYear .title .sub_title {
    width: 1000px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 20px;
    background: #efb400;
    text-align: left;
    color: #000;
}
#conWrapYear .title .detail_title {
    width: 800px;
    text-align: left;
    font-size: 28px;
    color: #000;
}

#contentsYear {
    padding-top: 40px;
    padding-bottom: 120px;
    background: url('../img/bg_center_dott.png') repeat-y center top;
}



.li_year li {
    position: relative;
    margin-bottom: 80px;
}
.num_year {
    width: 360px;
    height: 75px;
    margin: 0 auto;
    padding: 19px 0 0 140px;
    font-size: 34px;
    font-weight: bold;
}
.view_right .num_year {
    background: url('../img/bg_year_right.png') no-repeat left center;
}
.view_left .num_year {
    background: url('../img/bg_year_left.png') no-repeat left center;
}
.wrap_des_year {
    position: absolute;
    top: -85px;
    height: 255px;
    width: 520px;
}
.view_right .wrap_des_year {
    right: 0;
}
.view_left .wrap_des_year {
    left: 0;
}
.des_year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    padding: 20px;
    background: #fff;
    border: 2px solid #26afe8;
    border-radius: 15px;    
    box-shadow: 15px 15px 30px rgba(0,0,0,0.2);
    cursor: pointer;
}
.des_year:after {
    content: "";
    clear: both;
    display: block;
}
.des_year>div {
    float: left;
}
.txt_sec_year {
    width: 254px;
    margin-right: 20px;
}
.non_img .txt_sec_year {
    width: 100%;
}
.img_sec_year {
    width: 198px;
}
.img_sec_year img {
    border-radius: 10px;
}
.des_year1 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #0d6d78;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.des_year2 {
    margin-bottom: 10px;
    font-size: 21px;
    color: #00a0e9;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}
.des_year3 {
    font-size: 21px;
    color: #000;

    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;
}

/**time_day**/
#temWrapDay {
    /*width: 1600px;
    margin: 0 auto;*/
    background: url('../img/bg_time_day_cul.png') center top no-repeat;
}
#bodyTimeDayPolitic #temWrapDay {
    background: url('../img/bg_time_day_pol.png') center top no-repeat;
}
#conWrapDay {
    width: 1300px;
    margin: 0 auto;
}
#contentsDay {
    width: 1296px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 70px;
}

#contentsDay>div {
    min-height: 390px;
    margin-bottom: 70px;
}
.color_pink {
    background: url('../img/bg_day1.png') no-repeat;
}
.color_green {
    background: url('../img/bg_day2.png') no-repeat;
}
#contentsDay>div:after {
    content: "";
    clear: both;
    display: block;
}
#contentsDay>div>p,
#contentsDay>div>ul {
    float: left;
}
.num_day {
    width: 120px;
    margin-right: 100px;
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.li_day:after {
    content: "";
    clear: both;
    display: block;
}
.li_day li {
    float: left;
    width: 235px;
    margin-right: 25px;
    cursor: pointer;
}
.des_time1 {
    display: inline-block;
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    color: #fff;
}
.color_pink .des_time1 {
    background: #ed97ad;    
}
.color_green .des_time1 {
    background: #70c3c8;    
}
.des_time_box {
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 40px #a3a5a6;
}

.des_time2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 2.4em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;    
    -webkit-box-orient: vertical;    
}
.color_pink .des_time2 {
    color: #ca8295;   
}
.color_green .des_time2 {
    color: #22989d;     
}
.des_time3 {
    margin-bottom: 10px;
    font-size: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;    
}
.color_pink .des_time3 {
    color: #ed97ad;   
}
.color_green .des_time3 {
    color: #70c3c8;     
}
.des_time4 {
    font-size: 20px;
    color: #000;
    
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    
    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;    
    -webkit-box-orient: vertical;    
}
.li_day li img {
    border-radius: 10px;
}

/**2018.11.13 time_day image 크기 수정**/
/**이미지 가운데 정렬**/
.photo_wrapper {
    width: 232px;
}
.img_centered {
    position: relative;
    padding-top: 85%;
    overflow: hidden;
}
.img_wrap {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
}
.img_wrap img {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

/**2018.11.14 time_month image 크기 수정**/
.li_month .photo_wrapper {
    width: 347px;
}
.li_month .img_centered {
    padding-top: 70%;
}

/*time_year image 크기 수정*/
.img_sec_year {
    max-height: 205px;
    overflow: hidden;
}
.img_sec_year img {
    width: 100%;
}

/*time_day image 위치 원래위치로 수정*/
.photo_day_box {
    width: 232px;
    height: 197px;
    overflow: hidden;
}
.photo_day_box img {
    width: 100%;
}






























