<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>

    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
              //scroll 막기
              $('body, html').css({
                overflow: 'hidden',
                  height: '100%'
              });
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
            //scroll 막기
            $('body, html').css({
                overflow: 'auto',
                height: '100%'
            });
          }
    </script>
    <script>
          function move_popup(prev_id, next_id, content_id) {
            prev_id.style.display = "none";
            next_id.style.display = "block";
            content_id.click();
          }
    </script>
    <script>
          function setText(popDesc, txtDesc) {
            // var len = popDesc_.innerHTML.length;
            popDesc.innerHTML = txtDesc;
            // if (percentage < 100)
            //   popDesc.innerHTML = popDesc.innerHTML + ".."
          }
    </script>
    <script>
        $(function() {
          {% set idx = namespace(a=0) %}
          {% for sect in data.sub_data %}
            {% for d in sect %}
              {% set idx.a = idx.a + 1 %}
              $('#temContsList{{idx.a}}').click(function() {
                $('.bxslider{{idx.a}}').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true
                });
              })
            {% endfor %}
          {% endfor %}

        });
    </script>

    <title>{{data.title.text.main_title}}</title>
</head>

{% if data.content_type == "영화" %}
<body data-gr-c-s-loaded="true" id="bodyCulture1">
{% else %}
<body data-gr-c-s-loaded="true" id="bodyPolitic1">
{% endif %}

<div class="wrapper_template">
    <div id="temWrap">
       <div id="conWrap">
           <div class="title">
               <h1>{{data.title.text.main_title}}</h1>
               <p class="sub_title">{{data.title.text.main_subtitle}}</p>
               <p class="detail_title">{{data.title.text.main_text}}</p>
           </div>

           <div id="contents">
               <ul class="ul_tem_conts">
               {% set idx = namespace(a=0) %}
               {% for sect in data.sub_data %}
                 {% for d in sect %}
                   {% set idx.a = idx.a + 1 %}

                 <li class="con_list_nth{{loop.index0%3+1}}" id="temContsList{{idx.a}}" onclick="show_popup(popup{{idx.a}})">
                     <div class="con_list">
                         <h2>{{d.text.sub_title}}</h2>
                         <p class="con_sub_title">{{d.text.sub_subtitle}}</p>

                        {% if d.text.image_url|length > 0 %}
                        <div class="photo_wrapper">
                            <div class="img_centered">
                                 <div class="img_wrap">
                                     <img src="{{d.text.image_url[0]}}">
                                 </div>
                            </div>
                        </div>
                        {% endif %}

                     </div>
                 </li>
                 {% endfor %}
               {% endfor %}

               </ul>

            </div>

        </div>
        <!--conWrap-->

    </div>
    <!--//temWrap-->
</div>
<!--//wrapper_template-->


<!--popup-->
{% set idx = namespace(a=0) %}
{% for sect in data.sub_data %}
  {% for d in sect %}
    {% set idx.a = idx.a + 1 %}

  <div id="popup{{idx.a}}" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->
          <div class="pop_prev_next">
              {% if not loop.first %}
                <div class="pop_prev" onclick="move_popup(popup{{idx.a}}, popup{{idx.a-1}}, temContsList{{idx.a-1}})">
                    <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
                </div>
              {% endif %}
              {% if not loop.last %}
                <div class="pop_next" onclick="move_popup(popup{{idx.a}}, popup{{idx.a+1}}, temContsList{{idx.a+1}})">
                    <img src="{{ url_for('static', filename='img/btn_next.png') }}">
                </div>
              {% endif %}
          </div>

          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup{{idx.a}})">X</p>

             <ul class="percent">
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text3}}')">50</li>
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text2}}')">70</li>
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text}}')">100</li>
             </ul>

             <div class="tit_sec">

               <div class="img_sec">
                   <div class="box_img">
                     {% if d.text.image_url|length == 1 %}
                       <ul class="bxslider{{idx.a}}">
                         {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                         {% else %} <li> {% endif %}
                             <img src="{{d.text.image_url[0]}}">
                           </li>
                       </ul>
                     {% else %}
                       <ul class="bxslider{{idx.a}}">
                         {% for imgurl in d.text.image_url %}
                           {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                           {% else %} <li> {% endif %}
                           <img src="{{imgurl}}"></li>
                         {% endfor %}
                       </ul>
                     {% endif %}
                   </div>
               </div>

                 <div class="txt_sec">
                     <div class="box_txt">
                       {% if d.media.url %}
                       <a href="{{d.media.url}}" target="_blank" rel="noopener noreferrer"> {% endif %}
                         <p class="pop_title">{{d.text.sub_title}}</p>
                       {% if d.media.url %}</a>{% endif %}
                       <p class="pop_detail">{{d.text.sub_subtitle}}</p>
                     </div>
                 </div>
             </div>
             <!--// tit_sec-->
             <div class="pop_des" id='pop_desc{{idx.a}}'>
                 {{d.text.sub_text}}
             </div>
             <!--// pop_des: 아래는 글자를 자르기 위해서 전체 텍스트 값을 가져오기 위한 안보이는 값: 자를필요가 없으면 삭제 필요 -->
             <!-- <div style="display:none" id='pop_desc_{{idx.a}}'>
                 {{d.text.sub_text}}
             </div> -->
         </div>
         <!-- inner_pop-->
     </div>
     <!--// con_popup-->
   </div>
 {% endfor %}
{% endfor %}









</body>
</html>
