<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    <script>

        $(function() {
            $('.wrap_con_list ul li').click(function() {
                var conIndex = $(this).index();
                // var scrollPos = window.pageYOffset;

                // // $('.wrap_popup_slide').slideUp();
                // var slideHeight = $('.wrap_popup_slide').outerHeight(true);
                // var scrollTo = scrollPos - slideHeight;
                // if(scrollPos < 0) scrollPos = 0;
                $('.wrap_popup_slide').css({display: 'none'});
                $(this).parents('.wrap_con_list').find('.wrap_popup_slide' + conIndex).slideDown();

                if(conIndex == 0) {
                    $(this).parents('.wrap_con_list').find('.bg_arrow').css({
                        left: 270
                    });
                } else {
                    $(this).parents('.wrap_con_list').find('.bg_arrow').css({
                        left: 900
                    });
                }
                $('html, body').animate({
                    scrollTop: $(this).parents('.wrap_con_list').offset().top
                });
                // $('html, body').animate({
                //     scrollTop: scrollTo
                // }, 0);
            });

            //popup닫기
            $('.btn_close_normal2').click(function() {
                $(this).parents('.wrap_popup_slide').slideUp();
            })
            

            {% set idx = namespace(a=0) %}
            {% for sect in data.sub_data %}
              {% for d in sect %}
                {% set idx.a = idx.a + 1 %}

                $('#temContsList{{idx.a}}').click(function() {
                    $('.bxslider{{idx.a}}').bxSlider({
                        auto: true,
                        speed: 500,
                        controls: true
                    });
                });
              {% endfor %}
            {% endfor %}
        })

    </script>
    <script>
        function setText(popDesc, txtDesc) {
          // var len = popDesc_.innerHTML.length;
          popDesc.innerHTML = txtDesc;
          // if (percentage < 100)
          //   popDesc.innerHTML = popDesc.innerHTML + ".."
        }
    </script>

    <title>{{data.title.text.main_title}}</title>

</head>

<body>

<div id="temWrap2">
    <div id="conWrap2" {% if data.content_type == "정치" %} class="conwrap2_politic" {% endif %}>
        <div class="tit_sec2">
            <div class="title2">
                <h1>{{data.title.text.main_title}}</h1>
                <p class="tit2_sub">{{data.title.text.main_subtitle}}</p>
                <p class="detail_tit2">{{data.title.text.main_text}}</p>
            </div>
        </div>

        <section class="container">
            {% set idx = namespace(a=0) %}
            {% set idx2 = namespace(b=0) %}
            {% set last = namespace(i=0) %}
            {% set last = namespace(e=0) %}
            {% set last.i = 0 %}
            {% for sect in data.sub_data %}
                {% for ii in range(0,(sect|length/2)|int+1) %}
                <div class="wrap_con_list">
                    <ul>
                    {% set last.i = last.i + 2 %}
                    {% if last.i > sect|length  %}
                        {% set last.e = last.i-1 %}
                    {% else %}
                        {% set last.e = last.i %}
                    {% endif %}
                    <!-- 목록 -->
                    {% for d in sect[last.i-2:last.e] %}
                        {% set idx.a = idx.a + 1 %}
                        <li  id="temContsList{{idx.a}}">
                            <p class="con_style2_tit">{{d.text.sub_title}}</p>  
                            <!-- <p class="con_style1_txt1">{{d.text.sub_subtitle}}</p> -->
                            <p class="con_style1_txt2">{{d.text.sub_subtitle}}</p>
                        </li>
                    {% endfor %}
                    </ul>

                    <!-- 팝업 -->
                    {% for d in sect[last.i-2:last.e] %}
                    <!--컨텐츠 리스트 두개에 해당하는 popup 내용-->
                        {% set idx2.b = idx2.b + 1 %}
                    <div class="wrap_popup_slide wrap_popup_slide{{loop.index0%2}}">
                        <p class="bg_arrow">
                            <img src="{{ url_for('static', filename='img/bg_arrow.png') }}">
                        </p>
                        <p class="btn_close_normal2">X</p>

                        <!--normal2 percent button 추가-->
                        <p class="percent normal2_per">
                            <span onclick="setText(pop_desc{{idx2.b}}, '{{d.text.sub_text3}}')">50</span>
                            <span onclick="setText(pop_desc{{idx2.b}}, '{{d.text.sub_text2}}')">70</span>
                            <span onclick="setText(pop_desc{{idx2.b}}, '{{d.text.sub_text}}')">100</span>
                        </p>                  

                        <!--normal2 percent button 추가-->
                        <!-- <ul class="percent normal2_per">
                            <li onclick="setText(pop_desc5_{{idx2.b}}, '{{d.text.sub_text3}}')">50</li>
                            <li onclick="setText(pop_desc7_{{idx2.b}}, '{{d.text.sub_text2}}')">70</li>
                            <li onclick="setText(pop_desc_{{idx2.b}}, '{{d.text.sub_text}}')">100</li>       
                        </ul>      -->
                         <div class="photo_sec">

                            {% if d.text.image_url|length == 1 %}
                            <ul class="bxslider{{idx2.b}}">
                              {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                              {% else %} <li> {% endif %}
                                  <img src="{{d.text.image_url[0]}}">
                                </li>
                            </ul>
                          {% else %}
                            <ul class="bxslider{{idx2.b}}">
                                {% for imgurl in d.text.image_url %}
                                {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                                {% else %} <li> {% endif %}
                                <img src="{{imgurl}}"></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
 
                        </div>
                        <div class="des_sec">
                            {% if d.media.url %}
                            <a href="{{d.media.url}}" target="_blank" rel="noopener noreferrer"> {% endif %}
                                 <p class="tit_des_sec">{{d.text.sub_title}}</p>
                            {% if d.media.url %}</a>{% endif %}
                            <p class="txt1_des_sec">{{d.text.sub_subtitle}}</p>
                            <p class="txt2_des_sec" id='pop_desc{{idx2.b}}'>
                                {{d.text.sub_text}}
                            </p>
                        </div>
                     </div>
                     {% endfor %}
                </div>
                {% endfor %}
            {% endfor %}


        </section>
        <!--//container-->

    </div>
    <!--conWrap-->

</div>
<!--//temWrap-->


</body>
</html>
