<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/time.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>

    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
              //scroll 막기
              $('body, html').css({
                overflow: 'hidden',
                  height: '100%'
              });
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
            //scroll 막기
            $('body, html').css({
                overflow: 'auto',
                height: '100%'
            });
          }
    </script>
    <script>
          function move_popup(prev_id, next_id, content_id) {
            prev_id.style.display = "none";
            next_id.style.display = "block";
            content_id.click();
          }
    </script>
    <script>
          function setText(popDesc, txtDesc) {
            // var len = popDesc_.innerHTML.length;
            popDesc.innerHTML = txtDesc;
            // if (percentage < 100)
            //   popDesc.innerHTML = popDesc.innerHTML + ".."
          }
    </script>
    <script>
        $(function() {
          {% set idx = namespace(a=0) %}
          {% for sect in data.sub_data %}
            {% for d in sect %}
              {% set idx.a = idx.a + 1 %}
              $('#temContsList{{idx.a}}').click(function() {
                $('.bxslider{{idx.a}}').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true
                });
              })
            {% endfor %}
          {% endfor %}

        });
    </script>

    <title>{{data.title.text.main_title}}</title>
</head>


<body {% if data.content_type == "정치" %}id="bodyTimeDayPolitic"{% endif %}>

<div id="temWrapDay">
   <div id="conWrapDay">
       <div class="title">
           <h1>{{data.title.text.main_title}}</h1>
           <p class="sub_title">{{data.title.text.main_subtitle}}</p>
           <p class="detail_title">{{data.title.text.main_text}}</p>
       </div>

       <div id="contentsDay">
          {% set idx = namespace(a=0) %}
          {% for sect in data.sub_data %}
            {% for d in sect %}
              {% set idx.a = idx.a + 1 %}
              {% if loop.index0 == 0 %}<div class="con_day1 color_pink"><p class="num_day">첫째날</p>
              {% elif loop.index0 == 4 %}<div class="con_day2 color_pink"><p class="num_day">둘째날</p>
              {% elif loop.index0 == 8 %}<div class="con_day3 color_pink"><p class="num_day">셋째날</p>
              {% elif loop.index0 == 12 %}<div class="con_day4 color_pink"><p class="num_day">넷째날</p>
              {% elif loop.index0 == 16 %}<div class="con_day5 color_pink"><p class="num_day">다섯째날</p>
              {% elif loop.index0 == 20 %}<div class="con_day6 color_pink"><p class="num_day">여섯째날</p>
              {% elif loop.index0 == 24 %}<div class="con_day7 color_pink"><p class="num_day">일곱째날</p>
              {% elif loop.index0 == 28 %}<div class="con_day8 color_pink"><p class="num_day">여덟째날</p>
              {% elif loop.index0 == 32 %}<div class="con_day9 color_pink"><p class="num_day">아홉째날</p>
              {% elif loop.index0 == 36 %}<div class="con_day10 color_pink"><p class="num_day">열번째날</p>
              {% endif %}
              {% if loop.index0 % 4 == 0 %} <ul class="li_day"> {% endif %}
                    <li class="pop_con_day" id="temContsList{{idx.a}}" onclick="show_popup(popup{{idx.a}})">
                        <p class="des_time1">{{d.number_info}}</p>
                        <div class="des_time_box">
                            <p class="des_time2">{{d.text.sub_title}}</p>
                            <!-- <p class="des_time3">{{d.text.sub_subtitle}}</p> -->
                            <p class="des_time4">{{d.text.sub_subtitle}}</p>
                        </div>
                        {% if d.text.image_url|length > 0 %}
                        <div class="photo_day_box">
                            <img src="{{d.text.image_url[0]}}">
                        </div>
                        <!-- <div class="photo_wrapper">
                            <div class="img_centered">
                                <div class="img_wrap">
                                    <img src="{{d.text.image_url[0]}}">
                                </div>
                            </div>
                        </div> -->

                        {% endif %}
                    </li>
              {% if (loop.index0+1) % 4 == 0 %}
                  </ul>
              </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
            <!--//con_day1-->

       </div>

    </div>
    <!--conWrap-->

</div>
<!--//temWrap-->

<!--popup-->
{% set idx = namespace(a=0) %}
{% for sect in data.sub_data %}
  {% for d in sect %}
    {% set idx.a = idx.a + 1 %}
  <div id="popup{{idx.a}}" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->
          <div class="pop_prev_next">
            {% if not loop.first %}
              <div class="pop_prev" onclick="move_popup(popup{{idx.a}}, popup{{idx.a-1}}, temContsList{{idx.a-1}})">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
            {% endif %}
            {% if not loop.last %}
              <div class="pop_next" onclick="move_popup(popup{{idx.a}}, popup{{idx.a+1}}, temContsList{{idx.a+1}})">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
            {% endif %}
          </div>

          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup{{idx.a}})">X</p>

             <ul class="percent">
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text3}}')">50</li>
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text2}}')">70</li>
                 <li onclick="setText(pop_desc{{idx.a}}, '{{d.text.sub_text}}')">100</li>
             </ul>

              <div class="tit_sec">

                <div class="img_sec">
                    <div class="box_img">
                      {% if d.text.image_url|length == 1 %}
                        <ul class="bxslider{{idx.a}}">
                          {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                          {% else %} <li> {% endif %}
                              <img src="{{d.text.image_url[0]}}">
                            </li>
                        </ul>
                      {% else %}
                        <ul class="bxslider{{idx.a}}">
                          {% for imgurl in d.text.image_url %}
                            {% if d.text.video_url %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                            {% else %} <li> {% endif %}
                            <img src="{{imgurl}}"></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                </div>

                  <div class="txt_sec">
                      <div class="box_txt">
                        {% if d.media.url %}
                        <a href="{{d.media.url}}" target="_blank" rel="noopener noreferrer"> {% endif %}
                          <p class="pop_title">{{d.text.sub_title}}</p>
                        {% if d.media.url %}</a>{% endif %}
                        <p class="pop_detail">{{d.text.sub_subtitle}}</p>
                      </div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des" id='pop_desc{{idx.a}}'>
                  {{d.text.sub_text}}
              </div>
              <!--// pop_des: 아래는 글자를 자르기 위해서 전체 텍스트 값을 가져오기 위한 안보이는 값: 자를필요가 없으면 삭제 필요 -->
              <!-- <div style="display:none" id='pop_desc_{{idx.a}}'>
                  {{d.text.sub_text}}
              </div> -->
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  {% endfor %}
{% endfor %}


</body>
</html>
