<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" http-equiv="refresh" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>

    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
          }
    </script>
    <script>
          function setText(percentage, popDesc, popDesc_) {
            var len = popDesc_.innerHTML.length;
            popDesc.innerHTML = popDesc_.innerHTML.substring(0, len*percentage/100);
            if (percentage < 100)
              popDesc.innerHTML = popDesc.innerHTML + ".."
          }
    </script>
    <script>

      $(function() {
        {% for d in data.sub_data %}
          $('#temContsList{{loop.index}}').click(function() {
            $('.bxslider{{loop.index}}').bxSlider({
                auto: true,
                speed: 500,
                controls: true
            });
          })
        {% endfor %}

      });
    </script>

    <!--script>
        $(function() {

           $('.bxslider').bxSlider({
               auto: true,
               speed: 500,
               controls: true
               /*autoControls: true*/
           });
        });
    </script-->

    <title>{{data.title.text.main_title}}</title>
</head>

<body data-gr-c-s-loaded="true" id="bodyCulture1">

<div id="temWrap">
   <div id="conWrap">
       <div class="title">
           <h1>{{data.title.text.main_title}}</h1>
           <p class="sub_title"></p>
           <p class="detail_title">{{data.title.text.main_text}}</p>
       </div>

       <div id="contents">

         <ul class="ul_tem_conts">


             {% for d in data.sub_data %}
             <li class="con_list_nth1" id="temContsList{{loop.index}}" onclick="show_popup(popup{{loop.index}})">
                 <div class="con_list">
                     <h2>{{d.text.sub_title}}</h2>
                     {% if d.text.sub_subtitle %}
                     <p class="con_sub_title">{{d.text.sub_subtitle}}</p>
                     {% endif %}
                     <p class="cont_datail">{{d.text.sub_text}}</p>
                     <div class="photo_wrapper">
                        <div class="img_centered">
                             <div class="img_wrap">
                                 <img src="{{d.text.image_url[0]}}">
                             </div>
                        </div>
                    </div>
                 </div>
             </li>
             {% endfor %}

           </ul>

        </div>

    </div>
    <!--conWrap-->

</div>
<!--//temWrap-->


<!--popup-->
{% for d in data.sub_data %}
  <div id="popup{{loop.index}}" class="wrap_popup">
      <div class="con_popup">
          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup{{loop.index}})">X</p>

             <ul class="percent">
                 <li onclick="setText(50, pop_desc{{loop.index}}, pop_desc_{{loop.index}})">50</li>
                 <li onclick="setText(70, pop_desc{{loop.index}}, pop_desc_{{loop.index}})">70</li>
                 <li onclick="setText(100, pop_desc{{loop.index}}, pop_desc_{{loop.index}})">100</li>
             </ul>

              <div class="tit_sec">

                <!-- {% if d.text.video_url %}<a href="{{d.text.video_url}}" target="_blank" rel="noopener noreferrer">{% endif %} -->
                <div class="img_sec">
                    <div class="box_img">
                      {% if d.text.image_url.count == 1 %}
                        <ul class="bxslider{{loop.index}}">
                          {% if d.text.video_url|length > 0 %}<li onclick="window.open('{{d.text.video_url}}', '_blank');">
                          {% else %}  <li> {% endif %}
                              <img src="{{d.text.image_url[0]}}">
                            </li>
                        </ul>
                      {% else %}
                        <ul class="bxslider{{loop.index}}">
                          {% for imgurl in d.text.image_url %}
                            <li><img src="{{imgurl}}"></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                </div>
                <!-- {% if d.text.video_url %}</a>{% endif %} -->

                <div class="txt_sec">
                    <div class="box_txt">
                      <a href="{{d.media.url}}" target="_blank" rel="noopener noreferrer">
                        <p class="pop_title">{{d.text.sub_title}}</p>
                      </a>
                      <p class="pop_detail">{{d.text.sub_subtitle}}
                    </div>
                </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des" id='pop_desc{{loop.index}}'>
                  {{d.text.sub_text}}
              </div>
              <div style="display:none" id='pop_desc_{{loop.index}}'>
                  {{d.text.sub_text}}
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
{% endfor %}

</body>
</html>
