<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/time.css') }}" rel="stylesheet" type="text/css">    
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    
    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
          }
    </script>
    
    <script>
        $(function() {
            
            $('#temContsList1').click(function() {  
                $('.bxslider1').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });  
            });
            
            $('#temContsList2').click(function() {
                $('.bxslider2').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            })
            
            $('#temContsList3').click(function() {
                $('.bxslider3').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            }) 
        })
    </script>      
    
    <title>탬플릿</title>
</head>

<body>

<div id="yearWrap">
   <div id="conWrapYear">
       <div class="title">
           <h1>국내단풍 보기 좋은 가을 여행지, 충남 아산 가볼만한곳 은행나무길 가볼만한곳 은행나무길</h1>
           <p class="sub_title">어디든 떠나야 할 것 같은 기분이 들때, 가볍게 걸어보기로 한다. 가볍게 걸어보기로 한다.</p>
           <p class="detail_title">이른 아침 차를 몰아 곡교천 은행나무 길로 향했다. 아직 은행나무가 물들기에는 이른 계절. 그래서인지 주자창은 더없이 한가하다.</p>
       </div>
       
       <div id="contentsYear">
           <ul class="li_year">
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <li class="view_right">
                   <p class="num_year">1998</p>
                   <div class="wrap_des_year">
                        <div class="des_year pop_con_year" id="temContsList1" onclick="show_popup(popup1)">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>
                   </div>
               </li>
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2001</p>
                   <div class="wrap_des_year">                   
                        <div class="des_year pop_con_year" id="temContsList2" onclick="show_popup(popup2)">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>                         
                   </div>
               </li>  
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <li class="view_right">
                   <p class="num_year">2002</p>
                   <div class="wrap_des_year">
                        <div class="des_year pop_img_year" id="temContsList3" onclick="show_popup(popup3)">
                            <div class="txt_sec_year">
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>
                   </div>
               </li>               
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2004</p>
                   <div class="wrap_des_year">
                        <div class="des_year pop_img_year">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>         
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <!--이미지는 없고 컨텐츠만 있는 리스트 class="non_img"-->
               <li class="view_right non_img">
                   <p class="num_year">2008</p>
                   <div class="wrap_des_year">
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                       </div>
                   </div>
               </li>                                  
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2009</p>
                   <div class="wrap_des_year">                       
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>                      
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <!--컨텐츠는 없고 이미지만 있는 리스트 class="non_contents"-->
               <li class="view_right non_contents">
                   <p class="num_year">2011</p>
                   <div class="wrap_des_year">
                        <div class="des_year">
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year3.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>  
                 <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2012</p>
                   <div class="wrap_des_year">                       
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>                         
                   </div>
               </li>  
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <li class="view_right">
                   <p class="num_year">2013</p>
                   <div class="wrap_des_year">
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>
                   </div>
               </li>   
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2014</p>
                   <div class="wrap_des_year">                       
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>                                                                                      
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <li class="view_right">
                   <p class="num_year">2015</p>
                   <div class="wrap_des_year">
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>
                   </div>
               </li>    
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <!--이미지는 없고 컨텐츠만 있는 리스트 class="non_img"-->               
               <li class="view_left">
                   <p class="num_year">2016</p>
                   <div class="wrap_des_year">                       
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>                              
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>  
               <!--컨텐츠가 오른쪽에 배치되는 년도 class="con_right"-->
               <li class="view_right">
                   <p class="num_year">2017</p>
                   <div class="wrap_des_year">
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year1">겨울의 끝을 잡고 걷는 길 장성호수변길에서 길에서</p>
                               <p class="des_year2">유독 눈이 많이 내리지 않는 계절이라지만 유독 눈이 많이 내리지 않는 계절이라지만</p>
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year1.png') }}">
                            </div>
                       </div>
                   </div>
               </li>   
               <!--컨텐츠가 왼쪽에 배치되는 년도 class="con_left"-->
               <li class="view_left">
                   <p class="num_year">2018</p>
                   <div class="wrap_des_year">                       
                        <div class="des_year">
                            <div class="txt_sec_year">
                               <p class="des_year3">장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다. 성미산과 용두 장성호는 영산강의 지류 황룡강의 상류에 조성한 호수다</p>
                            </div>
                            <div class="img_sec_year">
                                <img src="{{ url_for('static', filename='img/img_year2.png') }}">
                            </div>
                       </div>                      
                   </div>
               </li>                                                                 
                                                
           </ul>

       </div>
       
    </div>
    <!--conWrap-->
    
</div>
<!--//temWrap-->

<!--popup-->
  <div id="popup1" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
          
          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup1)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider1">
                            <li>
                                <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                            </li>
                        </ul>
                    </div>
                </div>              
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</p>
                          <p class="pop_detail">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  그룹 샤이니 멤버이자 배우 최민호가 김지운 감독에 무한 애정을 드러냈다. 18일 서울 강남구 압구정 CGV에서 영화 인랑 감독 김지운, 제작 주 루이스픽쳐스 제작보고회가 열렸다. 이 자리에는 김지운 감독을 비롯해 배우 강동원, 한효주, 정우성, 김무열, 최민호가 참석했다. 최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 50번 넘게 봤다"라고 들뜬 목소리로 말했다. 이어 "감독님의 인랑에 캐스팅됐을 때 너무 기뻤다"라며 밝게 웃으며 "감독님뿐 아니라 멋진 선배님들과 함께 연기할 수 있어서 영광이었다. 촬영장이 배움의 터였다"고 했다. 또한 "감독님이 캐릭터에 여러 모습, 하나하나에 묻어나와야 한다고 해서 신경을 썼다"라며 "액션 신을 찍을 때도 멋있게 보이려 노력했다"고 인물을 어떻게 그려냈는지 덧붙였다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 이야기다. 최민호는 장진태 정우성 분 의 심복이자 특기대 핵심대원 김철진 역을 연기한다. 임중경 강동원 분 다음 가는 특기대 에이스다. 모든 작전에서 제 일선에 임중경이 서면 바로 뒤에서 그를 엄호하는 역할. 폭탄을 운반하던 소녀가 자폭할 때 임중경을 구한 장본인이기도 하다. 훈련소장인 장진태의 오른팔처럼 그의 지시를 따르는 심복이자 특기대를 말살하려는 공안부의 음모를 막기 위한 장진태의 작전에도 적극 참여한다. 한편 인랑은 오는 7월25일 개봉한다. /유지희기자 사진 정소희기자 채널에서 를 구독해주세요. 아이뉴스TV에서 부동산 고수를 만나보세요.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
    <div id="popup2" class="wrap_popup">
      <div class="con_popup">
         
          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup2)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider2">
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_002_20180618083726419.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_003_20180618083726442.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_004_20180618083726459.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_005_20180618083726476.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_006_20180618083726491.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_007_20180618083726507.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_008_20180618083726524.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</p>
                          <p class="pop_detail">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 강동원은 강화복 액션부터 카 체이스까지, 강렬한 액션뿐만 아니라 짐승이기를 강요하는 임무와 인간의 마음 사이에서 갈등하는 인물의 심리를 섬세하게 풀어내며 인간병기 임중경 캐릭터에 생명을 불어 넣을 것이다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 완벽하게 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다. 강동원 한효주 정우성 김무열 한예리 최민호 등 탄탄한 연기파 배우들의 만남과 자신만의 독보적인 스타일로 늘 관객의 기대를 뛰어넘는 새로운 재미를 선사해온 김지운 감독 작품으로 기대를 모으는 인랑은 오는 7월 25일 개봉해 관객들을 만날 예정이다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>

    <div id="popup3" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup3)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider3">
                          <li>
                              <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</p>
                          <p class="pop_detail">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [ 박정선] 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 18일 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
</body>
</html>


























