<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet" type="text/css">    
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    
    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
          }
    </script>
    
    <script>
        $(function() {
            
            $('#temContsList1').click(function() {  
                $('.bxslider1').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });  
            });
            
            $('#temContsList2').click(function() {
                $('.bxslider2').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            })
            
            $('#temContsList3').click(function() {
                $('.bxslider3').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            })      
              
            
        })
    </script>    
    
    <title>탬플릿</title>
</head>

<body data-gr-c-s-loaded="true" id="bodyCulture1">

<div class="wrapper_template">   
    <div id="temWrap">
       <div id="conWrap">
           <div class="title">
               <h1>신과함께1 안방극장 출격 다시 만나는 명작들을 만나봅니다.</h1>
               <p class="sub_title">추석 대격돌로 극장가의 공기가 뜨겁다면 안방극장 역시 관심이 집중됩니다.</p>
               <p class="detail_title">한국영화 최초로 쌍천만을 기록한 영화 '신과함께-죄와 벌'부터 '범죄도시' '검사외전' 등 관객들을 사로잡았던 작품들이 브라운관으로 찾아옵니다.</p>
           </div>

           <div id="contents">
               <ul class="ul_tem_conts">
                 <li class="con_list_nth1" id="temContsList1" onclick="show_popup(popup1)">
                     <div class="con_list">
                         <h2>'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</h2>
                         <p class="con_sub_title">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                               
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                                 </div>
                            </div>
                        </div>

                     </div>
                 </li>

                 <li class="con_list_nth2"  id="temContsList2" onclick="show_popup(popup2)">
                     <div class="con_list">
                         <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                         <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                       
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                 </div>
                            </div>
                        </div>

                     </div>
                 </li>

                 <li class="con_list_nth3" id="temContsList3" onclick="show_popup(popup3)">
                     <div class="con_list">
                         <h2>김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</h2>
                         <p class="con_sub_title">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                                 </div>
                            </div>
                        </div>                             

                     </div>
                 </li>

                 <li class="con_list_nth1"  id="temContsList4">
                     <div class="con_list">
                         <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                         <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                 </div>
                            </div>
                        </div>                                

                     </div>
                 </li>

                 <li class="con_list_nth2">
                     <div class="con_list">
                         <h2>윤태호 작가 '인랑' 콜라보 웹툰, 누적조회수 100만 돌파</h2>
                         <p class="con_sub_title">사진영화 인랑 스틸컷 영화 인랑 감독 김지운 의 특별 콜라보레이션 웹툰 인랑: 프리퀄이 누적 조회수 100만을 돌파했다. 6일 인랑 측에 따르면 개봉에 앞서 윤태호 작가가 참여한 콜라보레이션 웹툰 인랑:프리퀄이 공개돼 카카오 페이지, 다음 웹툰 누적 조회수 100만을 돌파하며 뜨거운 관심을 받고 있다. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                       
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0002711537_001_20180706092918869.jpg') }}">
                                 </div>
                            </div>
                        </div>                          

                     </div>
                 </li>

                 <li class="con_list_nth3">
                     <div class="con_list">
                         <h2>강동원X정우성 '인랑', 산세바스티안 국제영화제 경쟁 부문 초청(공식)</h2>
                         <p class="con_sub_title">김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 제66회 산세바스티안 국제영화제 경쟁 부문에 공식 초청되며 전세계적인 관심을 입증했다. 한국을 너머 전세계적인 뜨거운 관심을 받고 있는 인랑의 산세바스티안 국제영화제 경쟁 부문 초청은 관객들의 기대를 더욱 고조시키고 있다. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/201807180913194508892_20180718092353_01_20180718092521970.jpg') }}">
                                 </div>
                            </div>
                        </div>                          

                     </div>
                 </li>

                 <li class="con_list_nth1">
                     <div class="con_list">
                         <h2>'인랑', 산세바스티안 영화제 초청..강동원X김지운 참석</h2>
                         <p class="con_sub_title">영화 인랑의 강동원과 김지운 감독 / 사진 영화 인랑이 제66회 산세바스티안 국제영화제 경쟁 부문에 공식 초청되며 전세계적인 관심을 입증했다. 17일 인랑 측은 제66회 산세바스티안 국제영화제 경쟁 부문에 공식 초청됐음을 알리며 김지운 감독과 주인공 강동원이 오는 9월 영화제 참석을 위해 스페인으로 항할 예정이라고 밝혔다. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0002714339_001_20180718085221255.jpg') }}">
                                 </div>
                            </div>
                        </div>                        

                     </div>
                 </li>

                 <li class="con_list_nth2" >
                     <div class="con_list">
                         <h2>'인랑' 김지운 감독 "원작에 대한 오마주와 새로운 해석이 공존"</h2>
                         <p class="con_sub_title">김 감독은 20일 CGV 용산아이파크몰에서 열린 기자회견에서 "오시이 마모루 감독의 어둡고 무거운 세계관과 허무주의를 좋아하지만, 실사화했을 때는 대중적인 접근이 필요하다고 생각했다"고 말했다.인랑워너브라더스코리아 제공 원작과 차별화될 수 있는 해석을 가미하려고 고민한 결과 김 감독은 가장 한국적인 통일 문제를 접목하기로 했다. 김 감독은 "엔딩의 호불호가 있을 수 있을 것으로 생각한다"면서도 "한국적으로 해석했을 때 제가 할 수 있는 이야기였던 것 같다"고 설명했다.강동원 한효주, 선남선녀 진연수 기자 배우 강동원 왼쪽 과 한효주가 20일 오후 서울 용산구 CGV 용산아이파크몰점에서 열린 영화 인랑 언론시사회에서 질문을 듣고 있다. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/AKR20180720159600005_01_i_20180720185304797.jpg') }}">
                                 </div>
                            </div>
                        </div>                        

                     </div>
                 </li>

                 <li class="con_list_nth3">
                     <div class="con_list">
                         <h2>[DA:인터뷰③] 한효주 “강동원과 열애설, 서로 크게 신경 안 써”</h2>
                         <p class="con_sub_title">[DA:인터뷰③] 한효주 강동원과 열애설, 서로 크게 신경 안 써 배우 한효주가 강동원과의 열애설에 대해 입을 열었다. 영화 이야기로 이슈가 되는 게 아니라, 개인적인 일로 이슈가 되는 게 부담스럽고 죄송했다며 연달아 두 작품을 같이 하기도 했고, 아무래도 우리끼리도 자연스러운 거 아닌가 이야기를 하기도 했다. </p>
                        <div class="photo_wrapper">    
                            <div class="img_centered">                      
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/0000663214_001_20180725145242646.jpg') }}">
                                 </div>
                            </div>
                         </div>   

                     </div>
                 </li>

                 <li class="con_list_nth1">
                     <div class="con_list">
                         <h2>‘인랑’ 산세바스티안영화제 경쟁行… 감독x강동원 참석</h2>
                         <p class="con_sub_title">강동원이 주연한 김지운 감독 신작 인랑이 제66회 산세바스티안 국제영화제 경쟁부문에 진출했다. 18일 배급사 워너브러더스 코리아 측은 인랑이 제66회 산세바스티안 국제영화제 경쟁부문에 공식 초청됐다며 김지운 감독과 강동원은 오는 9월 영화제 참석을 위해 스페인으로 향할 예정이라고 밝혔다. </p>


                        <div class="photo_wrapper">    
                            <div class="img_centered">                       
                                 <div class="img_wrap">
                                     <img src="{{ url_for('static', filename='img/611815110012531643_1_20180718101204017.jpg') }}">
                                 </div>
                            </div>
                         </div>                             

                     </div>
                 </li>
               </ul>

            </div>

        </div>
        <!--conWrap-->

    </div>
    <!--//temWrap-->
</div>
<!--//wrapper_template-->


<!--popup-->
  <div id="popup1" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
          
          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup1)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider1">
                            <li>
                                <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                            </li>
                        </ul>
                    </div>
                </div>              
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</p>
                          <p class="pop_detail">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  그룹 샤이니 멤버이자 배우 최민호가 김지운 감독에 무한 애정을 드러냈다. 18일 서울 강남구 압구정 CGV에서 영화 인랑 감독 김지운, 제작 주 루이스픽쳐스 제작보고회가 열렸다. 이 자리에는 김지운 감독을 비롯해 배우 강동원, 한효주, 정우성, 김무열, 최민호가 참석했다. 최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 50번 넘게 봤다"라고 들뜬 목소리로 말했다. 이어 "감독님의 인랑에 캐스팅됐을 때 너무 기뻤다"라며 밝게 웃으며 "감독님뿐 아니라 멋진 선배님들과 함께 연기할 수 있어서 영광이었다. 촬영장이 배움의 터였다"고 했다. 또한 "감독님이 캐릭터에 여러 모습, 하나하나에 묻어나와야 한다고 해서 신경을 썼다"라며 "액션 신을 찍을 때도 멋있게 보이려 노력했다"고 인물을 어떻게 그려냈는지 덧붙였다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 이야기다. 최민호는 장진태 정우성 분 의 심복이자 특기대 핵심대원 김철진 역을 연기한다. 임중경 강동원 분 다음 가는 특기대 에이스다. 모든 작전에서 제 일선에 임중경이 서면 바로 뒤에서 그를 엄호하는 역할. 폭탄을 운반하던 소녀가 자폭할 때 임중경을 구한 장본인이기도 하다. 훈련소장인 장진태의 오른팔처럼 그의 지시를 따르는 심복이자 특기대를 말살하려는 공안부의 음모를 막기 위한 장진태의 작전에도 적극 참여한다. 한편 인랑은 오는 7월25일 개봉한다. /유지희기자 사진 정소희기자 채널에서 를 구독해주세요. 아이뉴스TV에서 부동산 고수를 만나보세요.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
    <div id="popup2" class="wrap_popup">
      <div class="con_popup">
         
          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup2)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider2">
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_002_20180618083726419.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_003_20180618083726442.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_004_20180618083726459.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_005_20180618083726476.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_006_20180618083726491.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_007_20180618083726507.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_008_20180618083726524.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</p>
                          <p class="pop_detail">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 강동원은 강화복 액션부터 카 체이스까지, 강렬한 액션뿐만 아니라 짐승이기를 강요하는 임무와 인간의 마음 사이에서 갈등하는 인물의 심리를 섬세하게 풀어내며 인간병기 임중경 캐릭터에 생명을 불어 넣을 것이다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 완벽하게 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다. 강동원 한효주 정우성 김무열 한예리 최민호 등 탄탄한 연기파 배우들의 만남과 자신만의 독보적인 스타일로 늘 관객의 기대를 뛰어넘는 새로운 재미를 선사해온 김지운 감독 작품으로 기대를 모으는 인랑은 오는 7월 25일 개봉해 관객들을 만날 예정이다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
    <div id="popup3" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup3)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider3">
                          <li>
                              <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</p>
                          <p class="pop_detail">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [ 박정선] 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 18일 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
  






</body>
</html>


























