<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/compound.css') }}" rel="stylesheet" type="text/css">    
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>  
    
    <script>
          function show_popup(id_clicked) {
              id_clicked.style.display = "block";
          }
    </script>
    <script>
          function close_popup(id_clicked) {
            id_clicked.style.display = "none";
          }
    </script>
    
    <script>
        $(function() {
            
            $('#temContsList1').click(function() {  
                $('.bxslider1').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });  
            });
            
            $('#temContsList2').click(function() {
                $('.bxslider2').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            })
            
            $('#temContsList3').click(function() {
                $('.bxslider3').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true                    
                });                  
            })      
              
            
        })
    </script>     
            
    
    <title>탬플릿</title>
</head>

<body>

<div id="comWrap">
    <div id="titWrapCom2">
       <div class="title">
           <h1>국내단풍 보기 좋은 가을 여행지, 충남 아산 가볼만한곳 은행나무길 가볼만한곳 은행나무길</h1>
           <p class="sub_title">어디든 떠나야 할 것 같은 기분이 들때, 가볍게 걸어보기로 한다. 가볍게 걸어보기로 한다.</p>
           <p class="detail_title">이른 아침 차를 몰아 곡교천 은행나무 길로 향했다. 아직 은행나무가 물들기에는 이른 계절. 그래서인지 주자창은 더없이 한가하다.</p>
       </div>
    </div>
       
    <div class="contents_com2">
        <div class="box_com2">
            <div class="box_tit_com2">
                <p class="tit_com3">북미지역 10개 도시에서 인기리에 상영 북미지역 10개 도시에서 인기리에 상영 북미지역 10개 도시에서 인기리에 상영</p>
                <p class="tit_com4">강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다.</p>
            </div>
            
            <div class="wrap_day_com2">
                <div class="con_day1 color_pink">
                    <p class="num_day">첫째날</p>
                    <ul class="li_day">
                        <!--컨텐츠 이미지가 같이 있는 팝업을 띄워야 하는 경우 class="pop_con_day" 추가-->
                        <li class="pop_con_day" id="temContsList1" onclick="show_popup(popup1)">
                            <p class="des_time1">AM9:30 ~ 10:20</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                                <p class="des_time3">옥구슬이 흐르는 듯한 옥구슬이 흐르는 듯한</p>
                                <p class="des_time4">울산 남구, 도심에서 조금 떨어진 곳에 일년 내내 마르지 않는 일년 내내 마르지 않는</p>
                            </div>
                            <p>
                                <img src="{{ url_for('static', filename='img/img_day1.png') }}">
                            </p>
                        </li>
                        <li class="pop_con_day" id="temContsList2" onclick="show_popup(popup2)">
                            <p class="des_time1">AM10:30</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                                <p class="des_time4">울산 남구, 도심에서 조금 떨어진 곳에 일년 내내 마르지 않는 일년 내내 마르지 않는</p>
                            </div>
                            <p>
                                <img src="{{ url_for('static', filename='img/img_day2.png') }}">
                            </p>
                        </li>     
                        <li class="pop_con_day" id="temContsList3" onclick="show_popup(popup3)">
                            <p class="des_time1">PM 13:30</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                                <p class="des_time4">울산 남구, 도심에서 조금 떨어진 곳에 일년 내내 마르지 않는 일년 내내 마르지 않는</p>
                            </div>
                            <p>
                                <img src="{{ url_for('static', filename='img/img_day2.png') }}">
                            </p>
                        </li>  
                        <li class="pop_con_day">
                            <p class="des_time1">PM 3:00</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                                <p class="des_time3">옥구슬이 흐르는 듯한 옥구슬이 흐르는 듯한</p>                            
                                <p class="des_time4">울산 남구, 도심에서 조금 떨어진 곳에 일년 내내 마르지 않는 일년 내내 마르지 않는</p>
                            </div>
                        </li>                                                         
                    </ul>
                </div>
                <!--//con_day1-->

                <div class="con_day2 color_green">
                    <p class="num_day">둘째날</p>
                    <ul class="li_day">
                        <!--이미만 있어 자동슬라이드 되는 팝업을 띄워야 하는 경우 class="pop_img_day" 추가-->
                        <li class="pop_img_day">
                            <p class="des_time1">AM9:30 ~ 10:20</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                            </div>
                        </li>
                        <li class="pop_img_day">
                            <p class="des_time1">AM10:30</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                            </div>
                            <p>
                                <img src="{{ url_for('static', filename='img/img_day3.png') }}">
                            </p>
                        </li>     
                        <li class="pop_img_day">
                            <p class="des_time1">PM 13:30</p>
                            <p>
                                <img src="{{ url_for('static', filename='img/img_day4.png') }}">
                            </p>
                        </li>  
                        <li class="pop_img_day">
                            <p class="des_time1">PM 3:00</p>
                            <div class="des_time_box">
                                <p class="des_time2">맑은 계곡 따라, 산새들의 지저귐따라 맑은 계곡 따라</p>
                                <p class="des_time3">옥구슬이 흐르는 듯한 옥구슬이 흐르는 듯한</p>                            
                                <p class="des_time4">울산 남구, 도심에서 조금 떨어진 곳에 일년 내내 마르지 않는 일년 내내 마르지 않는</p>
                            </div>
                        </li>                                                         
                    </ul>
                </div>
                <!--//con_day2-->      
            </div>
            <!--//wrap_day_com2-->
                                                                                   
        </div>
        <!--//box_com2-->
    </div>
     
    <div class="contents2_com2">
        <div class="box2_com2">     
            <div class="box_tit_com2">
                <p class="tit_com3">흥행과 더불어 평단의 인정까지 받은 것 흥행과 더불어 평단의 인정까지 받은 것 흥행과 더불어 평단의 인정까지 받은 것</p>
                <p class="tit_com4">강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다.</p>
            </div> 
            <div class="box_con_dott">
                <ul class="ul_tem_conts">
                     <li class="con_list_nth1" id="temContsList1" onclick="show_popup(popup1)">
                         <div class="con_list">
                             <h2>'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</h2>
                             <p class="con_sub_title">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                               
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                                     </div>
                                </div>
                            </div>

                         </div>
                     </li>      
                     <li class="con_list_nth2"  id="temContsList2" onclick="show_popup(popup2)">
                         <div class="con_list">
                             <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                             <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                       
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                     </div>
                                </div>
                            </div>

                         </div>
                     </li>       
                     <li class="con_list_nth3" id="temContsList3" onclick="show_popup(popup3)">
                         <div class="con_list">
                             <h2>김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</h2>
                             <p class="con_sub_title">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                      
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                                     </div>
                                </div>
                            </div>                             

                         </div>
                     </li>    
                     <li class="con_list_nth1"  id="temContsList4">
                         <div class="con_list">
                             <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                             <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                      
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                     </div>
                                </div>
                            </div>                                

                         </div>
                     </li>
                     <li class="con_list_nth1" id="temContsList1" onclick="show_popup(popup1)">
                         <div class="con_list">
                             <h2>'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</h2>
                             <p class="con_sub_title">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                               
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                                     </div>
                                </div>
                            </div>

                         </div>
                     </li>      
                     <li class="con_list_nth2"  id="temContsList2" onclick="show_popup(popup2)">
                         <div class="con_list">
                             <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                             <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                       
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                     </div>
                                </div>
                            </div>

                         </div>
                     </li>       
                     <li class="con_list_nth3" id="temContsList3" onclick="show_popup(popup3)">
                         <div class="con_list">
                             <h2>김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</h2>
                             <p class="con_sub_title">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                      
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                                     </div>
                                </div>
                            </div>                             

                         </div>
                     </li>    
                     <li class="con_list_nth1"  id="temContsList4">
                         <div class="con_list">
                             <h2>[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</h2>
                             <p class="con_sub_title">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. </p>


                            <div class="photo_wrapper">    
                                <div class="img_centered">                      
                                     <div class="img_wrap">
                                         <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                                     </div>
                                </div>
                            </div>                                

                         </div>
                     </li>                                                                              
                                                                               
                </ul>
            </div>
              
        </div>
        <!--//box2_com2-->  
    </div>
    <!--//contents2_com2-->
     
    <div class="contents3_com2">
        <div class="box3_com2">
            <div class="box_tit_com2">
                <p class="tit_com3">흥행과 더불어 평단의 인정까지 받은 것 흥행과 더불어 평단의 인정까지 받은 것 흥행과 더불어 평단의 인정까지 받은 것</p>
                <p class="tit_com4">강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다. 강 감독은 이 영화로 한국 영화평론가혐회상 신인 감독상과 백상 예술대상 영화부문 신인 감독상까지 수상하였다.</p>
            </div>  
            
            
            <div class="wrap_con_list">
               <ul>
                   <li>                
                       <p class="con_style2_tit">배우 곽동연 "그렇게 생겨서 어떻게 연기하냐는 막말도 들었다" 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다. 그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
                   <li>               
                       <p class="con_style2_tit">배우 곽동연 "그렇게 생겨서 어떻게 연기하냐는 막말도 들었다" 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>               
               </ul>  
               <!--컨텐츠 리스트 두개에 해당하는 popup 내용-->
               <!--이미지와 내용이 모두 있는 경우 popup-->
               <div class="wrap_popup_slide">
                  <p class="bg_arrow">
                      <img src="{{ url_for('static', filename='img/bg_arrow.png') }}">
                  </p>
                  <div class="photo_sec">
                      <div>
                          <img src="{{ url_for('static', filename='img/con_img4.png') }}">
                      </div>
                  </div>
                  <div class="des_sec">
                      <p class="tit_des_sec">[공식] ‘뉴논스톱’ 주역들, ‘청춘다큐 다시, 스물’로 다시 뭉친다.</p>
                      <p class="txt1_des_sec">MBC의 특집 프로그램 '청춘다큐 다시, 스물'을 통해 18년 전 인기리에 방송됐던 청춘 시트콤 '뉴논스톱'의 주역들이 모두 한자리에 모인다.</p>
                      <p class="txt2_des_sec">
                          2000년부터 2002년까지, 총 422부작에 걸쳐 인기리에 방송됐던 MBC 시트콤 '뉴논스톱'. 방영 당시 높은 시청률은 물론 젊은 층에서 큰 화제를 모았던 이 시트콤은 청춘 스타의 산실이었다. 스무살 남짓이었던 박경림, 조인성, 장나라, 양동근, 이민우, 정태우, 김정화 등은 '뉴논스톱'을 통해 단숨에 톱스타 반열에 올랐다. 이들이 신인다운 풋풋함으로 '뉴논스톱' 속 완성되지 않은 청춘들과 높은 싱크로율을 보인 것이 인기의 요인이었다. 조인성-박경림, 장나라-양동근 커플의 러브라인은 웬만한 드라마를 뛰어넘는 열렬한 지지를 받기도 했다.<br><br>
                          '청춘다큐 다시,스물'은 '뉴논스톱'이 종영한지 16년 만에, 그 시절 그들의 모습을 다시 담는다. 지금은 명실상부 대한민국을 대표하는 MC이자 초등학교 3학년짜리 아들의 엄마가 된 40대 박경림이 당시 함께 연기했던 멤버들을 한 명 한 명 찾아간다. 극 중 커플로 등장했던 박경림과 조인성이 사석에서 술잔을 기울이고, 박경림의 절친인 장나라와 양동근, 조금은 활동이 뜸했던 이민우와 김정화의 모습도 만나볼 수 있을 것으로 보인다. 30대 후반이 된 자신들의 모습을 되돌아보며 함께 추억에 빠지는 진솔한 이야기가 시간 가는줄 모르고 이어졌다고.<br><br>
                          이 다큐의 하이라이트는 이들 모두가 한 자리에 모이는 '동창회' 자리. 박경림의 주선으로 어렵게 시간을 맞춘 멤버들이 9월말 서울 모처에서 16년만에 한 자리에 모이는 시간이 방송을 통해 공개될 예정이다. 최근 영화 '안시성'의 개봉으로 눈코 뜰 새 없이 바쁜 배우 조인성과 새로운 미니시리즈 촬영에 들어간 장나라도 그간 못 본 멤버들이 보고 싶다며 스케줄을 일찌감치 비워놨다는 후문이다.<br><br>
                          제작진은 "'청춘다큐 다시, 스물'이 나의 스무살 시절 꿈을 잊고 바쁘게 달려온 우리 모두에 대한 유쾌한 위로이자 청춘들에게 바치는 따뜻한 헌사가 되었으면 한다"는 기획의도를 밝혔다.<br><br>
                          MBC의 특집 '청춘다큐 다시, 스물'은 오는 10월 1일과 8일, 밤 11시 10분에 2부작으로 시청자를 찾아갈 예정이다.<br><br>
                          동아닷컴 최윤나 기자 yyynnn@donga.com
                      </p>
                  </div>
                   
               </div>          
            </div>  
                  
            <div class="wrap_con_list">
               <ul>
                   <!---컨텐츠 내용이 적은경우  class="small_contents 를 추가하면 배경이 바뀝니다."-->
                   <li class="small_contents">                 
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다. 그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
                   <li class="small_contents">                
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>               
               </ul>  
               <!--컨텐츠 리스트 두개에 해당하는 popup 내용-->
               <!--이미지는 없고 내용만 있는 경우 popup (class명 'popup_non_img' 추가) -->
               <div class="wrap_popup_slide popup_non_img">
                  <p class="bg_arrow">
                      <img src="{{ url_for('static', filename='img/bg_arrow.png') }}">
                  </p>

                  <div class="des_sec">
                      <p class="tit_des_sec">‘암수살인’ 실제 피해자 유가족, 상영 금지 신청.</p>
                      <p class="txt1_des_sec">영화 ‘암수살인’의 소재가 된 살인 사건의 실제 유가족들이 영화 상영을 반대하고 나섰다.</p>
                      <p class="txt2_des_sec">
                          21일 조선일보에 따르면 2007년 부산에서 일어난 살인 사건의 피해자 여동생 박씨는 지난 20일 서울중앙지법에 영화 상영 금지 가처분 신청서를 제출했다. 박씨는 "영화 때문에 가족이 힘든 시간을 보내고 있다"고 가처분 신청을 한 이유를 밝혔다. <br><br>
                          다음달 3일 개봉을 앞둔 '암수살인'은 감옥에서 7건의 추가 살인을 자백하는 살인범(주지훈)과 자백을 믿고 사건을 쫓는 형사(김윤석)의 이야기를 다룬 영화다. ‘부산에서 벌어진 실제 이야기를 토대로 한 범죄 실화’를 홍보 문구로 활용하며 실화였다는 점을 강조하고 있다.<br><br>
                          사법고시를 준비하던 박씨의 오빠(당시 38세)는 2007년 11월 26일 부산 중구 부평동을 걷다가 이모씨와 어깨를 부딪쳤다. 그러자 이씨는 주머니에 있던 접이식 칼로 박씨의 목과 허리를 찔러 숨지게 하고, 시신을 인근 건물 지하로 옮겨 불을 질렀다. 영화에서는 2012년 사건으로 등장하지만 극 중 인물의 나이, 범행 장소와 수법이 그대로 묘사됐다. 박씨는 "영화가 나오면 가족이 다시 그때로 돌아가 고통을 겪어야 하는 상황"이라고 했다. <br><br>
                          영화 배급사 관계자는 "특정 인물을 암시할 수 있는 부분은 제작 과정에서 최대한 삭제했다. 피해자 측이 다시 고통 받지 않게 마케팅 과정에서 최선을 다하겠다"는 입장이다.<br><br>
                          하지만 박씨 가족의 변호를 맡은 유앤아이파트너스 정재기 변호사는 "영화 제작 단계에서 실화를 차용할 경우 최소한 유가족과 조율해 각색해야 하는데 그런 노력을 하지 않았다"고 주장하는 것으로 알려졌다. <br><br>
                          이준범 기자 bluebell@kukinews.com 
                      </p>
                  </div>
                   
               </div>                            
            </div>                                       
                   
                          
                                        
        </div>
        <!--//box3_com2-->
    </div>
    <!--//contents3_com2-->

  
</div>
<!--//temWrap-->

<!--popup-->
  <div id="popup1" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
          
          <div class="inner_pop">

             <p class="btn_close" onclick="close_popup(popup1)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider1">
                            <li>
                                <img src="{{ url_for('static', filename='img/0000523767_001_20180618114707694.jpg') }}">
                            </li>
                        </ul>
                    </div>
                </div>              
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">'인랑' 최민호 "'달콤한인생' 50번 봤다…멋있게 보이려 노력"</p>
                          <p class="pop_detail">최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  그룹 샤이니 멤버이자 배우 최민호가 김지운 감독에 무한 애정을 드러냈다. 18일 서울 강남구 압구정 CGV에서 영화 인랑 감독 김지운, 제작 주 루이스픽쳐스 제작보고회가 열렸다. 이 자리에는 김지운 감독을 비롯해 배우 강동원, 한효주, 정우성, 김무열, 최민호가 참석했다. 최민호는 "김지운 감독님의 팬"이라며 "감독님의 영화 달콤한 인생을 정말 많이 봤다. 50번 넘게 봤다"라고 들뜬 목소리로 말했다. 이어 "감독님의 인랑에 캐스팅됐을 때 너무 기뻤다"라며 밝게 웃으며 "감독님뿐 아니라 멋진 선배님들과 함께 연기할 수 있어서 영광이었다. 촬영장이 배움의 터였다"고 했다. 또한 "감독님이 캐릭터에 여러 모습, 하나하나에 묻어나와야 한다고 해서 신경을 썼다"라며 "액션 신을 찍을 때도 멋있게 보이려 노력했다"고 인물을 어떻게 그려냈는지 덧붙였다. 영화는 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 화려한 캐스팅으로 기대를 얻어 온 작품. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 이야기다. 최민호는 장진태 정우성 분 의 심복이자 특기대 핵심대원 김철진 역을 연기한다. 임중경 강동원 분 다음 가는 특기대 에이스다. 모든 작전에서 제 일선에 임중경이 서면 바로 뒤에서 그를 엄호하는 역할. 폭탄을 운반하던 소녀가 자폭할 때 임중경을 구한 장본인이기도 하다. 훈련소장인 장진태의 오른팔처럼 그의 지시를 따르는 심복이자 특기대를 말살하려는 공안부의 음모를 막기 위한 장진태의 작전에도 적극 참여한다. 한편 인랑은 오는 7월25일 개봉한다. /유지희기자 사진 정소희기자 채널에서 를 구독해주세요. 아이뉴스TV에서 부동산 고수를 만나보세요.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
    <div id="popup2" class="wrap_popup">
      <div class="con_popup">
         
          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup2)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider2">
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_001_20180618083726394.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_002_20180618083726419.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_003_20180618083726442.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_004_20180618083726459.jpg') }}">
                          </li>
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_005_20180618083726476.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_006_20180618083726491.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_007_20180618083726507.jpg') }}">
                          </li>                        
                          <li>
                              <img src="{{ url_for('static', filename='img/0000654100_008_20180618083726524.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">[공식] ‘인랑’ 7월 25일 개봉…강동원X한효주X정우성 스틸 공개</p>
                          <p class="pop_detail">[공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [공식] 인랑 7월 25일 개봉강동원X한효주X정우성 스틸 공개 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정하고, 2029년 혼돈의 시대로 향했던 인물들의 모습을 담은 보도스틸 8종을 공개했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 강동원은 강화복 액션부터 카 체이스까지, 강렬한 액션뿐만 아니라 짐승이기를 강요하는 임무와 인간의 마음 사이에서 갈등하는 인물의 심리를 섬세하게 풀어내며 인간병기 임중경 캐릭터에 생명을 불어 넣을 것이다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 완벽하게 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다. 강동원 한효주 정우성 김무열 한예리 최민호 등 탄탄한 연기파 배우들의 만남과 자신만의 독보적인 스타일로 늘 관객의 기대를 뛰어넘는 새로운 재미를 선사해온 김지운 감독 작품으로 기대를 모으는 인랑은 오는 7월 25일 개봉해 관객들을 만날 예정이다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>
  
    <div id="popup3" class="wrap_popup">
      <div class="con_popup">

          <!--18.11.8 팝업 좌우버튼 추가-->         
          <div class="pop_prev_next">
              <div class="pop_prev">
                  <img src="{{ url_for('static', filename='img/btn_prev.png') }}">
              </div>
              <div class="pop_next">
                  <img src="{{ url_for('static', filename='img/btn_next.png') }}">
              </div>
          </div>
                   
          <div class="inner_pop">
             <p class="btn_close" onclick="close_popup(popup3)">X</p>

             <ul class="percent">
                 <li>50</li>
                 <li>70</li>
                 <li>100</li>
             </ul>

              <div class="tit_sec">
               
                <div class="img_sec">
                    <div class="box_img">
                        <ul class="bxslider3">
                          <li>
                              <img src="{{ url_for('static', filename='img/0002798125_001_20180618083121172.jpg') }}">
                          </li>
                        </ul>
                    </div>
                </div>                  
                
                  <div class="txt_sec">
                      <div class="box_txt">
                          <p class="pop_title">김지운X강동원X정우성 '인랑', 7월 25일 개봉 확정</p>
                          <p class="pop_detail">최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 
                      </p></div>
                  </div>
              </div>
              <!--// tit_sec-->
              <div class="pop_des">
                  [ 박정선] 김지운 감독의 신작이자 강동원 한효주 정우성 김무열 한예리 최민호 등 서로 다른 개성을 가진 배우들의 만남으로 기대를 모으고 있는 인랑이 7월 25일 개봉을 확정했다. 남북한이 통일준비 5개년 계획을 선포한 후 반통일 테러단체가 등장한 혼돈의 2029년, 경찰조직 특기대와 정보기관인 공안부를 중심으로 한 절대 권력기관 간의 숨막히는 대결 속 늑대로 불리는 인간병기 인랑의 활약을 그린 인랑이 7월 25일 개봉을 확정하고, 18일 보도스틸을 공개했다. 공개된 스틸은 혼돈의 시대 속, 살아남기 위해 각자의 방식으로 달려가는 인물들의 모습을 긴장감 있게 담아냈다. 차갑게 어둠이 내린 거리, 홀로 서 있는 빨간 망토 소녀의 뒷모습은 곳곳에서 테러가 벌어지고, 권력기관들끼리 서로를 공격하는 극도로 불안한 2029년의 시대상을 고스란히 보여준다. 최정예 특기대원 임중경 강동원 은 긴박한 상황에서도 흔들림 없는 날카로운 눈빛으로 적을 향해 총을 겨누는 모습이 눈길을 끈다. 이윤희로 분한 한효주는 복잡 미묘한 표정으로 누군가를 응시하는 모습을 통해 그녀에게 어떤 일들이 그려질 지 궁금증을 자극한다. 특기대 훈련소장 장진태 정우성 는 한치의 흐트러짐 없는 단호한 모습과 서늘한 눈빛으로 상대방을 장악한다. 막후에서 특기대원들에게 작전을 지시하는 그는 조용하지만 강한 카리스마를 내뿜으며 리더로서의 면모를 확인케 한다. 특기대 훈련장에 홀로 서 있는 공안부 차장 한상우 김무열 는 임중경의 동기이지만 특기대 해체를 꾀하는 적으로, 친구의 다정함과 적의 비열함을 겸비한 새로운 인물을 예고한다. 뿐만 아니라, 섹트 출신이라는 오명에서 벗어나기 위해 발버둥치는 구미경 한예리 , 훈련소장인 장진태의 오른팔로 그의 지시를 따르는 특기대의 에이스 김철진 최민호 그리고 특기대의 해체와 권력 장악을 노리는 공안부장 이기석으로 분한 허준호의 특별한 출연까지. 자신의 위치에서 강렬한 존재감으로 빛나는 배우들의 모습이 더해져 영화에 대한 기대감을 한층 더 증폭시키고 있다.
              </div>
          </div>
          <!-- inner_pop-->
      </div>
      <!--// con_popup-->
  </div>




</body>
</html>


























