<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.bxslider.min.css') }}" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    <script>

        $(function() {
            $('.wrap_con_list ul li').click(function() {
                var conIndex = $(this).index();

                $('.wrap_popup_slide').css({display: 'none'});
                $(this).parents('.wrap_con_list').find('.wrap_popup_slide' + conIndex).slideDown();

                if(conIndex == 0) {
                    $(this).parents('.wrap_con_list').find('.bg_arrow').css({
                        left: 270
                    });
                } else {
                    $(this).parents('.wrap_con_list').find('.bg_arrow').css({
                        left: 900
                    });
                }
            });
            
            $('#temContsList1').click(function() {
                $('.bxslider1').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true
                });
            });

            $('#temContsList2').click(function() {
                $('.bxslider2').bxSlider({
                    auto: true,
                    speed: 500,
                    controls: true
                });
            });
        })

    </script>

    <title>탬플릿</title>
</head>

<body>

<div id="temWrap2">
    <div id="conWrap2">
        <div class="tit_sec2">
            <div class="title2">
                <h1>'신과함께1' 안방극장 출격 '다시 만나는 명작들'을 만나보세요</h1>
                <p class="tit2_sub">추석 대격돌로 극장가의 공기가 뜨겁다면 안방극장 역시 만만치 않다. 추석대격돌로</p>
                <p class="detail_tit2">한국영화 최초로 쌍천만을 기록한 영화 '신과함께-죄와 벌'부터 '범죄도시' '검사외전' 등 관객들을 사로잡았던 작품들이 브라운관으로 찾아옵니다. 브라운관으로 찾아옵니다.</p>
            </div>
        </div>

        <section class="container">
            <div class="wrap_con_list">
               <ul>
                   <li  id="temContsList1">
                       <p class="con_style2_tit">배우 곽동연 "그렇게 생겨서 어떻게 연기하냐는 막말도 들었다" 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다. 그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
                   <li  id="temContsList2">
                       <p class="con_style2_tit">배우 곽동연 "그렇게 생겨서 어떻게 연기하냐는 막말도 들었다" 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
               </ul>

               <!--컨텐츠 리스트 두개에 해당하는 popup 내용-->
               <div class="wrap_popup_slide wrap_popup_slide0">
                  <p class="bg_arrow">
                      <img src="{{ url_for('static', filename='img/bg_arrow.png') }}">
                  </p>
                  <p class="btn_close_normal2">X</p>
                  <div class="photo_sec">
                      <ul class="bxslider1">
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                      </ul>

                  </div>
                  <div class="des_sec">
                      <p class="tit_des_sec">[공식] ‘뉴논스톱’ 주역들, ‘청춘다큐 다시, 스물’로 다시 뭉친다.</p>
                      <p class="txt1_des_sec">MBC의 특집 프로그램 '청춘다큐 다시, 스물'을 통해 18년 전 인기리에 방송됐던 청춘 시트콤 '뉴논스톱'의 주역들이 모두 한자리에 모인다.</p>
                      <p class="txt2_des_sec">
                          2000년부터 2002년까지, 총 422부작에 걸쳐 인기리에 방송됐던 MBC 시트콤 '뉴논스톱'. 방영 당시 높은 시청률은 물론 젊은 층에서 큰 화제를 모았던 이 시트콤은 청춘 스타의 산실이었다. 스무살 남짓이었던 박경림, 조인성, 장나라, 양동근, 이민우, 정태우, 김정화 등은 '뉴논스톱'을 통해 단숨에 톱스타 반열에 올랐다. 이들이 신인다운 풋풋함으로 '뉴논스톱' 속 완성되지 않은 청춘들과 높은 싱크로율을 보인 것이 인기의 요인이었다. 조인성-박경림, 장나라-양동근 커플의 러브라인은 웬만한 드라마를 뛰어넘는 열렬한 지지를 받기도 했다.<br><br>
                          '청춘다큐 다시,스물'은 '뉴논스톱'이 종영한지 16년 만에, 그 시절 그들의 모습을 다시 담는다. 지금은 명실상부 대한민국을 대표하는 MC이자 초등학교 3학년짜리 아들의 엄마가 된 40대 박경림이 당시 함께 연기했던 멤버들을 한 명 한 명 찾아간다. 극 중 커플로 등장했던 박경림과 조인성이 사석에서 술잔을 기울이고, 박경림의 절친인 장나라와 양동근, 조금은 활동이 뜸했던 이민우와 김정화의 모습도 만나볼 수 있을 것으로 보인다. 30대 후반이 된 자신들의 모습을 되돌아보며 함께 추억에 빠지는 진솔한 이야기가 시간 가는줄 모르고 이어졌다고.<br><br>
                          이 다큐의 하이라이트는 이들 모두가 한 자리에 모이는 '동창회' 자리. 박경림의 주선으로 어렵게 시간을 맞춘 멤버들이 9월말 서울 모처에서 16년만에 한 자리에 모이는 시간이 방송을 통해 공개될 예정이다. 최근 영화 '안시성'의 개봉으로 눈코 뜰 새 없이 바쁜 배우 조인성과 새로운 미니시리즈 촬영에 들어간 장나라도 그간 못 본 멤버들이 보고 싶다며 스케줄을 일찌감치 비워놨다는 후문이다.<br><br>
                          제작진은 "'청춘다큐 다시, 스물'이 나의 스무살 시절 꿈을 잊고 바쁘게 달려온 우리 모두에 대한 유쾌한 위로이자 청춘들에게 바치는 따뜻한 헌사가 되었으면 한다"는 기획의도를 밝혔다.<br><br>
                          MBC의 특집 '청춘다큐 다시, 스물'은 오는 10월 1일과 8일, 밤 11시 10분에 2부작으로 시청자를 찾아갈 예정이다.<br><br>
                          동아닷컴 최윤나 기자 yyynnn@donga.com
                      </p>
                  </div>
               </div>

               <!--컨텐츠 리스트 두개에 해당하는 popup 내용-->
               <div class="wrap_popup_slide wrap_popup_slide1">
                  <p class="bg_arrow">
                      <img src="{{ url_for('static', filename='img/bg_arrow.png') }}">
                  </p>
                  <p class="btn_close_normal2">X</p>
                  <div class="photo_sec">
                      <ul class="bxslider2">
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                          <li><img src="{{ url_for('static', filename='img/con_img4.png') }}"></li>
                      </ul>

                  </div>
                  <div class="des_sec">
                      <p class="tit_des_sec">난 두번째 [공식] ‘뉴논스톱’ 주역들, ‘청춘다큐 다시, 스물’로 다시 뭉친다.</p>
                      <p class="txt1_des_sec">MBC의 특집 프로그램 '청춘다큐 다시, 스물'을 통해 18년 전 인기리에 방송됐던 청춘 시트콤 '뉴논스톱'의 주역들이 모두 한자리에 모인다.</p>
                      <p class="txt2_des_sec">
                          2000년부터 2002년까지, 총 422부작에 걸쳐 인기리에 방송됐던 MBC 시트콤 '뉴논스톱'. 방영 당시 높은 시청률은 물론 젊은 층에서 큰 화제를 모았던 이 시트콤은 청춘 스타의 산실이었다. 스무살 남짓이었던 박경림, 조인성, 장나라, 양동근, 이민우, 정태우, 김정화 등은 '뉴논스톱'을 통해 단숨에 톱스타 반열에 올랐다. 이들이 신인다운 풋풋함으로 '뉴논스톱' 속 완성되지 않은 청춘들과 높은 싱크로율을 보인 것이 인기의 요인이었다. 조인성-박경림, 장나라-양동근 커플의 러브라인은 웬만한 드라마를 뛰어넘는 열렬한 지지를 받기도 했다.<br><br>
                          '청춘다큐 다시,스물'은 '뉴논스톱'이 종영한지 16년 만에, 그 시절 그들의 모습을 다시 담는다. 지금은 명실상부 대한민국을 대표하는 MC이자 초등학교 3학년짜리 아들의 엄마가 된 40대 박경림이 당시 함께 연기했던 멤버들을 한 명 한 명 찾아간다. 극 중 커플로 등장했던 박경림과 조인성이 사석에서 술잔을 기울이고, 박경림의 절친인 장나라와 양동근, 조금은 활동이 뜸했던 이민우와 김정화의 모습도 만나볼 수 있을 것으로 보인다. 30대 후반이 된 자신들의 모습을 되돌아보며 함께 추억에 빠지는 진솔한 이야기가 시간 가는줄 모르고 이어졌다고.<br><br>
                          이 다큐의 하이라이트는 이들 모두가 한 자리에 모이는 '동창회' 자리. 박경림의 주선으로 어렵게 시간을 맞춘 멤버들이 9월말 서울 모처에서 16년만에 한 자리에 모이는 시간이 방송을 통해 공개될 예정이다. 최근 영화 '안시성'의 개봉으로 눈코 뜰 새 없이 바쁜 배우 조인성과 새로운 미니시리즈 촬영에 들어간 장나라도 그간 못 본 멤버들이 보고 싶다며 스케줄을 일찌감치 비워놨다는 후문이다.<br><br>
                          제작진은 "'청춘다큐 다시, 스물'이 나의 스무살 시절 꿈을 잊고 바쁘게 달려온 우리 모두에 대한 유쾌한 위로이자 청춘들에게 바치는 따뜻한 헌사가 되었으면 한다"는 기획의도를 밝혔다.<br><br>
                          MBC의 특집 '청춘다큐 다시, 스물'은 오는 10월 1일과 8일, 밤 11시 10분에 2부작으로 시청자를 찾아갈 예정이다.<br><br>
                          동아닷컴 최윤나 기자 yyynnn@donga.com
                      </p>
                  </div>

               </div>



            </div>

            <div class="wrap_con_list">
               <ul>
                   <li class="small_contents">
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다. 그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
                   <li>
                       <p class="con_style2_tit">배우 곽동연 "그렇게 생겨서 어떻게 연기하냐는 막말도 들었다" 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
               </ul>
            </div>

            <div class="wrap_con_list">
               <ul>
                   <li>
                       <p class="con_style1_txt1">그렇게 생겨서 어떻게 연기하냐는 막말도 들었다. 그렇게 생겨서 어떻게 연기하냐는 막말도 들었다</p>
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
                   <li class="small_contents">
                       <p class="con_style1_txt2">배우 곽동연(21)은 '약점'일 수 있는 것들을 오히려 '장점'이나 '강점'으로 받아들일 만큼 '어른'이었다. '강점'으로 받아들일 만큼 '어른'이었다.</p>
                   </li>
               </ul>
            </div>
        </section>
        <!--//container-->

    </div>
    <!--conWrap-->

</div>
<!--//temWrap-->


</body>
</html>
